    <script>set_current_channel('cms')</script>
    <% form_tag('/admin/templates/destroy', :id => 'posts-filter' ) do %>
    <h2>Manage Templates (<%= link_to 'add new', :controller => 'templates', :action => 'new' %>)</h2>

    <ul class="subsubsub">
    <li><a href='' class="current">All Templates</a> | </li><li><a href=''>Layout</a></li></ul>


    <p id="post-search">
      <input type="text" id="post-search-input" name="s" value="" />
      <input type="submit" value="Search Templates" class="button" />
    </p>

    <div class="tablenav">

    <div class="alignleft">
    <input type="submit" value="Delete" name="deleteit" class="button-secondary delete" />
    <select name='m'>
    <option selected="selected" value='0'>Show all dates</option>
    <option value='200807'>July 2008</option>
    </select>

    <select name='cat' id='cat' class='postform' >
      <option value='0'>View all categories</option>
      <option value="1">Uncategorized</option>
    </select>
    <input type="submit" id="post-query-submit" value="Filter" class="button-secondary" />

    </div>

    <br class="clear" />
    </div>

    <br class="clear" />

    <table class="widefat">
      <thead>
      <tr>

      <th scope="col" class="check-column"><input type="checkbox" onclick="checkAll(document.getElementById('posts-filter'));" /></th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Date</th>

      </tr>
      </thead>
      <tbody>
        <% for tmplt in @tmplts -%>
        <tr id='post-1' class='alternate author-self status-publish' valign="top">
          <th scope="row" class="check-column"><input type="checkbox" name="id[]" value="<%= tmplt.id %>" /></th>
          <td><strong><%= link_to tmplt.name, {:controller => 'admin/templates', :action => 'edit', :id => tmplt.id}, {:class =>'tow=title'} %></strong></td>
          <td><a href=''><%= tmplt.category %></a></td>
          <td><abbr title="<%= tmplt.created_at %>"><%= tmplt.created_at %></abbr></td>
        </tr>
        <% end -%>
      </tbody>
    </table>

    <% end  %>

    <div id="ajax-response"></div>

    <div class="tablenav">
      <%= will_paginate @tmplts, {:page_url => '/admin/templates' } %>
    </div>

    <br class="clear" />
