<div class="right2">
  <%=  render :partial => "/manage/votes/vote_menu"%>
  <div class="height20"></div>
  <div class="w90">
    <%owner = @vote.owner%>
    <div class="visit">
      <a href="<%= owner.space_url %>"><img src="<%= user_icon  owner.id %>"></a>
      <dl>
        <dt><a href="<%= owner.space_url %>"><%= owner.real_name %></a>发起的投票</dt>
        <dd><strong>发起时间：</strong><%= @vote.created_at.strftime('%m/%d/%y %H:%M') %>| <strong>截止时间：</strong><%= @vote.expire_time.strftime('%m/%d/%y %H:%M')  %> | <strong>投票人数：</strong><%= @vote.member_count %> </dd>
      </dl>
    </div>
    <div class="height12xhx"></div>
    <div class="height12"></div>
    <div class="photo_info">

      <p class="f14b black"> <%= @vote.title %><span class="gray">(最多可选<%= @vote.multi_selcect  %>项)</span></p>
      <br>
      <%= h @vote.description %>
      <br>
    </div>
    <%form_tag "/manage/votes/#{@vote.id}/post_vote",:name => "vote_form",:onsubmit => "return validate_vote_form();" do %>
      <div class="height20"></div>
      <input type="hidden" name="vote_id" value="<%= @vote.id %>">
      <table width="90%" align="center" border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
      <td align="left">
      <div class="l" style="width: 600px;">
        <% @vote_options.each do |vote_option| %>
          <div class="vl1">
            <div class="l w230 tar"><%= vote_option.title %></div>
            <% vote_count = vote_option.vote_count %>
            <%vote_rate = vote_option.vote_rate(@vote.member_count,vote_count) %>
            <div class="ml10 l w180">
            <div class="tpbg1">
              <div class="l" style="margin-top: 0px ! important;"><img src="/images/new/v1.gif" width="<%= (1.8*(vote_rate.to_f)).to_i - 2 %>" height="10"></div>
              <div class="l vbg1" id="length1" style="width: 0px;"></div>
              <div class="l" style="margin-top: 0px ! important;"><img src="/images/new/v1b.gif"></div>
            </div>
          </div>
          
          <div class="w65 l" style="width:80px;"><%= vote_count  %>(<%= "#{vote_rate}%" %>)</div>
          <div class="l"> <input type="checkbox" name="vote_values[]" value="<%= vote_option.id %>" onclick="inputOnclick(this)"></div>
        </div>
      <%end%>
      <div class="c"></div>
    </div>
    </td>
    </tr>
    <tr>
      <td align="center" height="50"><input name="button2" id="button2" value="　提交　" type="submit"></td>
    </tr>
    </tbody></table>
    <div class="height20"></div>
  </div>
<%end%>
<div class="height20"></div>
</div>
<script>
  var vote_limit = <%= @vote.multi_selcect %>
</script>