<ul id="posts">
  <div class="postsTop"></div>
 {% for entry in entries %}
   <li>
     <div class="postHeader">
       <h3>{{ entry.created_at | timelong }}</h3>
      <h2>{{ entry | entry_link }}</h2>
     </div>
     <div class="postBody">
       <p><strong>《21世纪经济报道》记者杨琳桦 2008-8-14</strong></p>
     <div class="entryHeader">作者：<span class="author"><a href="">{{entry.author}}</a></span>&nbsp;&nbsp;</div>
     <div class="entryBody">
      {{ entry.body }}  
     </div>
     <div class="clear"></div>
      </div>
      <div class="postFooter">
        <div class="tags">Tag：{{entry|display_blog_tags}}
      </div>
      <div class="menubar">
        <span class="author"><a href="http://home.blogbus.com/profile/new-skin">New-Skin</a></span>
        发表于<span class="time">{{ entry.created_at | timelong }}</span> |
        <a href="{{entry|entry_permalink}}" class="readmore">阅读全文</a> |
        <a href="{{entry|entry_permalink}}" class="cmt">评论 <span class="count">{{entry.comment_count}}</span></a>
      </div>
      <div class="line"> </div>
    </div>
   </li>
  {% endfor %}
<div class="postsBottom"></div>
</ul>
<div class="pageNavi">{{ entries | will_paginate }}</div>