<%=  render :partial => "/manage/share/left" %>
		
<div class="m_r">

     <%=  render :partial => "/manage/friends/friends_menu" %>

    <div class="qun_m L">
        <div class="qun_top">
        <h2 class="my_friend">我的好友</h2>
        </div>

        <div class="clear li_m">
            <div class="friend_m_b L">

                <% for user in @friends -%>
                <div class="friend_b L">
                    <a href=""><img class="L" src="<%= user_icon(user.id) %>"/></a>
                    <p class="L"><a href=""><%= user.user_name %> </a></p>

                    <ul class="L">
                        <!--li><a href=""><img class="rss" src="/images/ico_message.gif"/></a><a href="">发纸条</a></li>
                        <li><a href=""><img class="rss" src="/images/ico_rss.gif"/></a><a href="">订阅</a></li-->
                    </ul>
                    <p><font style="font-weight:bold;color:#999;">&times;</font>&nbsp;<%= link_to '删除好友', {:action => 'destroy', :id => user.id}, :method => 'delete', :class => 'grey' %></p>
                </div>
                <% end -%>

            </div>
        </div>

    </div>

</div><!--m_r-->