<div class="right2">
  <div class="dbt">
    <p><a href="/manage/blogs"><img src="/images/new/documents_32.png" align="absmiddle"></a>日志</p>
    <%= render :partial => "/manage/blogs/search" %>
  </div>
  <%= render :partial => "/manage/blogs/blog_menu" %>
  <div class="w90">
    <div class="dbt2">
      <strong><% if params[:category_id].blank? %>全部日志<%else%><a href="/manage/blogs">全部日志</a><%end%></strong>
      <%  for category in @categories %>
        ┊<strong><%if params[:category_id] && params[:category_id] == "#{category.id}"%><%= category.name %><%else%><a href="/manage/blogs?category_id=<%= category.id %>"><%= category.name %></a><%end%></strong>
      <%end%>
    </div>
    <div class="height20"></div>
    <div class="w90">
      <div class="height20"></div>
      <% for blog in @blogs %>
        <div class="blog">
          <dl>
            <dt><a href="/entry/<%= blog.id %>"><%= h blog.title %></a></dt>
            <a href="/manage/blogs/<%=blog.id  %>/edit" title="编辑"><img src="/images/new/119.gif"></a>
            <%unless blog.is_sticky? %>
              <%= link_to_remote('<img alt="置顶" src="/images/new/120.gif" >',:url =>"/manage/blogs/#{blog.id}/sticky",:method => :get,:html => {:title => "置顶",:id => "d_a_#{blog.id}"})%>
            <%else%>
              <%= link_to_remote('<img alt="取消置顶" src="/images/btn_unsticky.png" >',:method => :get,:url => "/manage/blogs/#{blog.id}/sticky",:html => {:title => "取消置顶",:id => "d_a_#{blog.id}"})%>
            <%end%>
            <%= link_to_function('<img alt="删除" src="/images/new/121.gif">', "if (confirm('真的要删除吗?')) do_delete(this)",:title => '删除',:href => "/manage/blogs/#{blog.id}/delete") %>
            <dd>发表于<strong><%= DateUtil.timelong_for_with_ling(blog.created_at) %></strong> | 阅读(<a href="/entry/<%= blog.id %>"><%= blog.view_count %></a>) | 评论(<a href="/entry/<%= blog.id %>"><%= blog.comment_count %></a>) | 收藏(<a href="#">1</a>) </dd>
          </dl>
          <p><%= blog.body_for_list %><br>
          <a href="/entry/<%= blog.id %>">查看全文</a> &gt;&gt;</p>
        </div>
        <div class="height20"></div>
      <%end%>
    </div>
    <div class="height20"></div>
    <div class="jogger">
      <%= url_f(will_paginate(@blogs, {:prev_label => '上一页', :next_label => '下一页'}),'/manage/blogs') %>
    </div>
  </div>
</div>
