<div class="main">
  <div class="left">
    <%=  render :partial => "/share/myinfo" %>
    <div class="height12"></div>
    <%= render :partial => "/share/music" %>
    <div class="height12"></div>
  </div>
  <div class="right2">
    <div class="box2">
      <div class="title2">
        <p>近期公告</p>
        <% if is_blog_admin? %>
        <span><img src="/images/customer_word/tu_xrz.gif" align="absmiddle"> <a href="/manage/messages/new"><strong>我要写公告</strong></a></span></div>
      <%end%>
      <div class="height20"></div>
      <div class="height20"></div>
      <% for message in @messages %>
        <div class="blog">
          <dl>
            <dt><%= message.title %></dt>
            <dd>发表于<strong><%= DateUtil.timelong_for_with_ling(message.created_at) %></strong></dd>
          </dl>
          <div class="height12"></div>
          <p><%=  message.content %></p>
        </div>
      <%end%>
      <div class="height20"></div>
      <div class="height20"></div>
      <div class="scott">
        <%=url_f(will_paginate(@messages,{:prev_label => "<<上一页",:next_label => '下一页>>'}),'/messages') %>        
      </div>
      <div class="height20"></div>
      <div class="height20"></div>
    </div>
  </div>
</div>