<div class="right2">
  <%= render :partial => "/manage/user_groups/group_menu" %>
  <div class="height20"></div>
  <div class="height20"></div>
  <div class="w90_bd">
    <% form_for :group,:url => "/manage/user_groups/#{params[:id]}/create_topic" do |f| %>
      <strong>标题：</strong>
      <input name="topic[title]" size="50" maxlength="50" type="text" value="<%= @topic.title %>"><br/>
      <div style="width: 621px; height: 456px;">
        <SPAN style="COLOR: #ff0000"></SPAN>
        <input type="hidden" id="topic_description" name="topic[description]" value="<%= h(@topic.description)%>"></input>
        <SPAN style="COLOR: #ff0000"></SPAN>
        <iframe id="myEditor" src="/editor/editor.htm?id=topic_description" frameborder="0" scrolling="no"  width="800" height="480"></iframe>
      </div><br>
      <input type="hidden" name="topic[user_group_id]" value="<%= params[:id] %>">
      <input type="hidden" name="topic[admin_id]" value="<%= @user_group.user_id %>">
      <input class="submit" name="publish"   type="submit"   value="提   交"  />
    <%end%>
    <div class="height20"></div>
  </div>
</div>