<div class="m_l L">
  <div class="face L">
    <img class="border" src="/images/pic_big_none.gif"/>
    <ul>
      <li>日志数：20</li>
      <li>评论数：15</li>
      <li>访问量：50</li>
      <li>总积分：20</li>
    </ul>
  </div>
  <div class="visitor">
    <div class="tit border"><h6>最近访客</h6></div>
    <div class="v_m">
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">xiao-fox</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">pawa</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">qing qing cao</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="tit border"><h6>未读评论<span style="color:#999;">（3）</span></h6></div>
    <div class="comment_m">
      <p><a href=""><b>allein：</b></a><a href="">休假的时间得好好珍惜</a></p>
      <p><a href=""><b>wangjing:</b></a><a href="">很久没有休假了吧</a></p>
      <p><a href=""><b>admin:</b></a><a href="">出趟海吧，打一网渔！</a></p>
    </div>
  </div>

</div><!--m_l-->

<div class="m_r">

  <!--person_menu-->
<%=  render :partial => "/manage/share/blog_menu" %>
<!--person_menu-->

  <div class="manage_m L">
    <h2>可选择的条目</h2>
    <table cellpadding="0" cellspacing="0" id = "available">
      <tr >
        <td class="tit" width="87">条目名称</td>
        <td class="tit" width="283">描述</td>
        <td class="tit" width="87">管理</td>
      </tr>
      <%for sidebar in @sidebars do %>
        <tr>
          <td class="m_border"><a href="#"><%= sidebar.title %></a></td>
          <td class="a_tit m_border"><%=  sidebar.description %></td>
          <td class="m_border">
            <% unless sidebar.actived?(@user.id) %>
              <a href="/manage/sidebars/<%= sidebar.sidebar_id %>/active">添加</a>
            <%else%>
              已添加
            <%end%>
          </td>
        </tr>
      <%end%>
    </table>
    <h2>你激活的条目</h2>
    <table cellpadding="0" cellspacing="0" id = "active">
      <tr>
        <td class="tit" width="87">条目名称</td>
        <td class="tit" width="87">描述</td>
        <td class="tit" width="87">管理</td>
      </tr>
      <%for sidebar_user in @sidebar_users do %>
        <tr>
          <td class="m_border"><a href="#"><%= sidebar_user.bar_name %></a></td>
          <td class="m_border"><%=  sidebar_user.description %></td>
          <td class="m_border">
            <a href="#" title="编辑" onclick="Element.toggle('edit_<%=  sidebar_user.sidebar_id %>');return false;"><img alt="编辑" src="/images/btn_edit.png"></a>
            <a title="移除" href="/manage/sidebars/<%= sidebar_user.sidebar_id %>/remove"><img src="/images/btn_delete.png" title ='移除'></a>
            <% if @max_bar_index > sidebar_user.bar_index %>

              <a href="/manage/sidebars/<%= sidebar_user.sidebar_id %>/higher"><img alt="Icon_digg" src="/images/icon_digg.gif" title="上移"></a>
            <%end%>
            <% if @min_bar_index < sidebar_user.bar_index %>
              <a href="/manage/sidebars/<%= sidebar_user.sidebar_id %>/lower"><img alt="Icon_bury" src="/images/icon_bury.gif" title="下移"></a>
            <%end%>
          </td>
        </tr>
        <tr id="edit_<%=  sidebar_user.sidebar_id%>" style="display:none;">
          <td colspan='3'>
            <%= display_sidebar_setting_info(@user.id,sidebar_user.sidebar_id) %>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
</div><!--m_r-->
