<div class="gift2" style="display:none;position:absolute;z-index:500px;" id="vote_div_<%=location%>_<%=user.id%>">
    	<div class="gift2_t">
    	  <p>投票给<%=user.real_name%></p><span><a href="#" onclick="Element.hide('vote_div_'+'<%=location%>'+'_'+'<%=user.id%>');return false;">
          <img src="/images/active/close.gif" alt="关闭" style="width:15px;height:15px;"/></a></span>
          </div>
        <div class="gift2_m">
        	 <div class="gift2_main">
             <div class="h10"></div>
        	   <table width="95%" border="0" cellspacing="0" cellpadding="0" class="center">
                 <tr>
                   <td width="29%" height="20" align="right"><strong>请输入验证码：</strong>
                     </td>
                   <td width="71%" align="left" id="simple_captcha_td">
                        <%= show_simple_captcha :label => "", :image_style => 'simply_red', :distortion => 'medium' %>
                   </td>
                 </tr>
                 <tr>
                   <input type="hidden" name="active_vote[user_id]" value="<%= user.user_id %>">
                  <input type="hidden" name="active_vote[user_name]" value="<%= user.user_name %>">
                   <td height="20" align="right"><strong>附言：</strong></td>
                   <td align="left"><label>
                     <input name="active_vote[message]" type="text" id="vote_message" size="25" />
                     (可选项)
                   </label></td>
                 </tr>
                 <tr>
                   <td height="20" align="right">&nbsp;</td>
                   <td align="left"><a href="#" onclick="post_vote();return false"><img src="/images/active/btn_qdtp.jpg" alt="确定" style="width:112px;height:37px;"/></a></td>
                 </tr>
               </table>
       	  </div>
          </div>
        <div class="gift2_b"></div>
    </div>