<div class="left">
            <div class="bt1">
            	<div class="bt1_t">
               	  <div class="bt1_ta"></div>
                    <div class="bt1_tb"><img src="/images/active/tu_csxs.jpg" /></div>
                  <div class="bt1_tc"></div>
                </div>
                <div class="bt1_m">
                	<div class="tab-box3" id="tab_b3">
                        <div>
                            <ul class="tab-btbt3">
                            <li class="selected3"><a href="#">最新加入</a></li>
                            <li class="selected3"><a href="#">随机展示</a></li>
                            <li class="selected3"><a href="#">查看全部</a></li>
                            </ul>
                            <div class="h12"></div>
                        </div>
                      <div class="tab-main3">
                        <div class="friend">
                	<ul><% for user in @new_entry do %>
                  <% unless user.nil? %>
                    <li><a href="<%= user.player_url %>"><img src="<%=user_icon(user.user_id, 'normal')%>" /></a><br />
                      <a class="cblack f14b" href="<%= user.player_url %>"><%=user.real_name%></a>
                      <label>
                        <input name="button" type="submit" class="button6422" id="button_tp" value="投票" onclick="vote(<%=user.id%>);"/>
                      </label><br />
                      来自：客户世界机构<br />
                    票：<span class="blue"><%=user.vote_count%></span> 文：<a href="<%=user.blog_url%>" class="csxred"><%=user.blog_count%></a> 照：<a href="<%=user.photo_url%>" class="csxred"><%=user.photo_count%></a></li>
                  <%end%><!--TODO my_blog链接-->
                <%end%></ul>
            </div>
            <div class="h12"></div>
            <div class="h12"></div>
            <div class="pages">
            </div>
                <div class="h12"></div>
                      </div>
                      <div class="tab-main3">
                        <div class="friend">
                	<ul><% for user in @rand_users do %>
                  <% unless user.nil? %>
                    <li><a href="<%= user.player_url %>"><img src="<%=user_icon(user.user_id, 'normal')%>" /></a><br />
                      <a class="cblack f14b" href="<%= user.player_url %>"><%=user.real_name%></a>
                      <label>
                        <input type="hidden" id="vote" value="<%=user.id%>">
                        <input name="button" type="submit" class="button6422" id="button_tp" value="投票" onclick="vote(<%=user.id%>);" />
                      </label><br />
                      来自：客户世界机构<br />
                    票：<span class="blue"><%=user.vote_count%></span> 文：<a href="<%=user.blog_url%>" class="csxred"><%=user.blog_count%></a> 照：<a href="<%=user.photo_url%>" class="csxred"><%=user.photo_count%></a></li>
                  <%end%><!--TODO my_blog链接-->
                <%end%></ul>
            </div>
            <div class="h12"></div>
            <div class="h12"></div>
                <div class="pages">
                </div>
                <div class="h12"></div>
                      </div>
                      <div class="tab-main3">
                        <div class="friend">
                	<ul><% for user in @users do %>
                  <% unless user.nil? %>
                    <li><a href="<%= user.player_url %>"><img src="<%=user_icon(user.user_id, 'normal')%>" /></a><br />
                      <a class="cblack f14b" href="<%= user.player_url %>"><%=user.real_name%></a>
                      <label>
                        <input type="hidden" id="vote" value="<%=user.id%>">
                        <input name="button" type="submit" class="button6422" id="button_tp" value="投票" onclick="vote(<%=user.id%>);" />
                      </label><br />
                      来自：客户世界机构<br />
                    票：<span class="blue"><%=user.vote_count%></span> 文：<a href="<%=user.blog_url%>" class="csxred"><%=user.blog_count%></a> 照：<a href="<%=user.photo_url%>" class="csxred"><%=user.photo_count%></a></li>
                  <%end%><!--TODO my_blog链接-->
                <%end%></ul>
            </div>
            <div class="h12"></div>
            <div class="h12"></div>
                <div class="pages">
                  <%= will_paginate @users, {:prev_label => '上一页', :next_label => '下一页'} %>
                </div>
                <div class="h12"></div>
                      </div>
                    </div>
					<SCRIPT type="text/javascript">
                    var tabb = TB.widget.SimpleTab.decorate('tab_b3', {eventType:'mouse',currentClass:'selected3'});
                    tabb.switchTab(Math.floor(Math.random() * $text));
                    </SCRIPT>
                </div>
                <div class="h12"></div>
                <div class="bt1_b"></div>
            </div>
            <div class="h12"></div>
        </div>
        <%= render :partial => "right" %>