<div class="left" id="first_l">
  <div class="onebg">
    <div class="jrzd">
      <img src="/images/active/index_jrzd.jpg" />
      <div class="h12"></div>
      <table width=323 border=0 cellpadding=0 cellspacing=0 bgcolor="#cccccc" class="center">
        <tr valign=top>
          <td colspan=3><a onClick="gotoshow()" onMouseOver="tu_ove()" onMouseOut="ou()" style="cursor:hand"><img src="/images/active/ad-01.jpg" width=323 height=210 name="slide" border=0></a></td>
        </tr>
        <tr>
          <td width=263 height=19 align=center ><div id=textslide>焦点图标题层</div></td>
          <td width=1 ><div style="position:relative">
              <div style="position:absolute;top:10px; ">
                <table width=95 border=0 cellpadding=0 cellspacing=0>
                  <tr valign=top align=center >
                    <td width="19" height="0"><div style="position:relative; ">
                        <div style="position:absolute;top:-19px;left:9px;"><img src="/images/active/bian1.gif" id=xiaosan1 width=10 height=3 border=0></div>
                    </div></td>
                    <td width="19" height="0"><div style="position:relative">
                        <div style="position:absolute;top:-19px;left:9px"><img src="/images/active/bian1.gif" id=xiaosan2 width=10 height=3></div>
                    </div></td>
                    <td width="19" height="0"><div style="position:relative">
                        <div style="position:absolute;top:-19px;left:9px"><img src="/images/active/bian1.gif" id=xiaosan3 width=10 height=3></div>
                    </div></td>
                    <td width="19" height="0"><div style="position:relative">
                        <div style="position:absolute;top:-19px;left:9px"><img src="/images/active/bian1.gif" id=xiaosan4 width=10 height=3></div>
                    </div></td>
                    <td width="19" height="0"><div style="position:relative;">
                        <div style="position:absolute;top:-19px;left:9px"><img src="/images/active/bian1.gif" id=xiaosan5 width=10 height=3></div>
                    </div></td>
                  </tr>
                </table>
              </div>
          </div></td>
          <td width=95 height="19">
            <table width=95 border=0 cellpadding=0 cellspacing=0  >
              <tr valign=top>
                <td width="19" height="19" class="homejdboder"><a style="cursor:hand" onMouseOver="ove(0)" onMouseOut="ou()"><img src="/images/active/1.gif" width="19" height="19" border=0></a></td>
                <td width="19" height="19" class="homejdboder"><a style="cursor:hand" onMouseOver="ove(1)" onMouseOut="ou()"><img src="/images/active/2.gif" width="19" height="19" border=0></a></td>
                <td width="19" height="19" class="homejdboder"><a style="cursor:hand" onMouseOver="ove(2)" onMouseOut="ou()"><img src="/images/active/3.gif" width="19" height="19" border=0></a></td>
                <td width="19" height="19" class="homejdboder"><a style="cursor:hand" onMouseOver="ove(3)" onMouseOut="ou()"><img src="/images/active/4.gif" width="19" height="19" border=0></a></td>
                <td width="19" height="19"><a style="cursor:hand" onMouseOver="ove(4)" onMouseOut="ou()"><img src="/images/active/5.gif" width="19" height="19" border=0></a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <script language=JavaScript src="/javascripts/active/5adpics.js"></script>
    </div>
    <div class="news">
      <div class="tab-box" id="tab_b">
        <div>
          <ul class="tab-btbt">
            <li class="selected"><a href="#">大赛新闻</a></li>
            <li class="selected"><a href="#">活动规则</a></li>
            <li class="selected"><a href="#">组织机构</a></li>
            <li class="selected"><a href="#">赞助单位</a></li>
            <li class="selected"><a href="#">支持媒体</a></li>
          </ul>
        </div>
        <div class="tab-main">
          <div class="alist">
            <%unless @articles.blank?%>
              <% top_article = @articles.first %>
              <% if top_article %>
                <div class="danews fht16"><a href="<%= top_article.article_permalink %>"><%= top_article.title  %></a></div>
              <%end%>
              <div class="h12"></div>
              <ul>
                <% @articles.each_with_index do |article,index| %>
                  <% next if index==0 %>
                  <li>
                    <a href="<%= article.article_permalink %>"><%= article.title %></a>
                    <span class="fve9 huise">[<%= DateUtil.time_day_and_month(article.created_at) %>]</span>
                  </li>
                <%end%>
              </ul>
            <%end%>
          </div>
        </div>
        <div class="tab-main">
          <div class="alist">
            <%unless @rule_articles.blank?%>
              <% top_article = @rule_articles.first %>
              <% if top_article %>
                <div class="danews fht16"><a href="<%= top_article.article_permalink %>"><%= top_article.title  %></a></div>
              <%end%>
              <div class="h12"></div>
              <ul>
                <% @rule_articles.each_with_index do |article,index| %>
                  <% next if index==0 %>
                  <li>
                    <a href="<%= article.article_permalink %>"><%= article.title %></a>
                    <span class="fve9 huise">[<%= DateUtil.time_day_and_month(article.created_at) %>]</span>
                  </li>
                <%end%>
              </ul>
            <%end%>
          </div>
        </div>
        <div class="tab-main">
          <div class="h12"></div>
          <div class="w95 f14 huise hang20">
            <p><strong>发起单位：</strong><br />

              客户世界机构<br />
              <br />
            </p>
            <p><strong>共同主办：</strong><br />
              中国软件与信息服务外包产业联盟<br />
              北京市通信协会呼叫中心专业委员会<br />
              上海市呼叫中心协会<br />
              西安呼叫中心产业联盟<br />
              苏州市呼叫中心行业协会<br />
              成都服务外包行业协会 <br />              
              黑龙江省软件协会</p>

          </div>
        </div>

        <div class="tab-main">
          <div class="h12"></div>
          <div class="w95 f14 huise hang20">
            <p><strong>冠名赞助：</strong><br />
              <img class="bian" src="/images/active/link_11.jpg" alt="华为" width="116" height="51" /><br />
            </p>
            华为技术公司 HUAWEI<br/><br/>
            <p><strong>其他赞助：</strong><br />

              征集中...
            </p>
          </div>
        </div>
        <div class="tab-main">
          <div class="h12"></div>
          <div class="w95">
            <table width="317" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="105" height="50" align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
                <td width="105" align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
                <td width="107" align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
              </tr>
              <tr>
                <td height="50" align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
                <td align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
                <td align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
              </tr>
              <tr>
                <td height="50" align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
                <td align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
                <td align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
              </tr>
              <tr>
                <td height="50" align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
                <td align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
                <td align="center"><img src="/images/active/0zcmt.jpg" width="94" height="43" /></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <SCRIPT type="text/javascript">
        var tabb = TB.widget.SimpleTab.decorate('tab_b', {eventType:'mouse',currentClass:'selected'});
        tabb.switchTab(Math.floor(Math.random()));
      </SCRIPT>
    </div>
    <div class="h12"></div>
  </div>
  <div class="h12"></div>
  <div class="bt1">
    <div class="bt1_t">
      <div class="bt1_ta"></div>
      <div class="bt1_tb"><img src="/images/active/tu_csxs.jpg" /><span><a class="csxred" href="/active/player">查看全部</a></span></div>
      <div class="bt1_tc"></div>
    </div>
    <div class="bt1_m">
      <div class="tab-box3" id="tab_b3">
        <div>
          <ul class="tab-btbt3">
            <li class="selected3"><a href="#">随机展示</a></li>
            <li class="selected3"><a href="#">最新加入</a></li>
          </ul>
          <div class="h12"></div>
        </div>
        <div class="tab-main3">
          <div class="friend">
            <ul>
              <% for rand_user in @rand_users do %>
                  <% unless rand_user.nil? %>
                    <li><a href="<%= rand_user.player_url %>"><img src="<%= user_icon(rand_user.user_id,'normal')%>" /></a><br />
                      <a class="cblack f14b" href="<%= rand_user.player_url %>"><%=rand_user.display_user_name%></a>
                      <label>
                        <input name="button" type="button" class="button6422" id="button_tp" value="投票" onclick="showVoteDiv('vote_div_rand_'+'<%=rand_user.id%>','simple_captcha_td_rand_'+'<%=rand_user.id%>');return false;" />
                        <%= render :partial => "small_vote", :locals => {:user => rand_user, :location => "rand"} %>
                      </label><br />
                    票：<span class="blue"><%=rand_user.vote_count%></span> 文：<a href="<%=rand_user.blog_url%>" class="csxred"><%=rand_user.blog_count%></a> 照：<a href="<%=rand_user.photo_url%>" class="csxred"><%=rand_user.photo_count%></a></li>
                  <%end%><!--TODO 链接 -->
                <%end%>
              </ul>
            </div>
          </div>
          <div class="tab-main3" style="display:none">
            <div class="friend">
              <ul>
                <% for user in @users do %>
                    <% unless user.nil? %>
                      <li><a href="<%= user.player_url %>"><img src="<%=user_icon(user.user_id,'normal')%>" /></a><br />
                        <a class="cblack f14b" href="<%= user.player_url %>"><%=user.display_user_name%></a>
                        <label>
                          <input name="button" type="submit" class="button6422" value="投票" onclick="showVoteDiv('vote_div_nomal_'+'<%=user.id%>','simple_captcha_td_nomal_'+'<%=user.id%>');return false;" />
                          <%= render :partial => "small_vote", :locals => {:user => user, :location => "nomal"} %>
                        </label><br />
                      票：<span class="blue"><%=user.vote_count%></span> 文：<a href="<%=user.blog_url%>" class="csxred"><%=user.blog_count%></a> 照：<a href="<%=user.photo_url%>" class="csxred"><%= user.photo_count %></a></li>
                    <%end%><!--TODO 链接 -->
                  <%end%>
                </ul>
              </div>
            </div>
          </div>
          <SCRIPT type="text/javascript">
            var tabb = TB.widget.SimpleTab.decorate('tab_b3', {eventType:'mouse',currentClass:'selected3'});
            tabb.switchTab(Math.floor(Math.random()));
          </SCRIPT>
        </div>
        <div class="h12"></div>
        <div class="bt1_b"></div>
      </div>
    </div>
    <div class="right" id="first_r">
      <%= render :partial => "/active/login_form" %>
      <div class="h12"></div>
      <div class="ad1">
        <a href="http://www.cncca.net/" target="_blank"><img src="/images/active/ad1.jpg" /></a>
      </div>
      <div class="h12"></div>

      <!--排行榜-->
      <%= render :partial => "top"  %>
    </div>
    <div class="clear"></div>
    <div class="ad2" id="ad2">
      <a href="http://www.ccmw.net/haokehui" target="_blank">
        <img src="/images/active/ad932_80.jpg" />
      </a>
    </div>
    <div class="left" id="second_l">
      <div class="onebg">
        <div class="w340l">
          <div class="bt3">
            <div class="bt3_a"></div>
            <div class="bt3_b">
              <p><img src="/images/active/tb_wjj.jpg" width="8" height="10" align="absmiddle" /> 最新评论</p><span>
                <a href="/active/comment_list" class="csxred">查看全部</a>
            </span></div>
            <div class="bt3_c"></div>
          </div>
          <div class="h12"></div>
          <div class="alist" id="comment">
            <ul><% for info in @comments do %>
                  <% unless info.nil? %>
                    <li><a href="<%= info.user.space_url %>"><%= info.content %></a></li><!--链接到用户的空间了-->
                  <%end%>
                <%end%>
              </ul>
            </div>
            <div class="h12"></div>
            <div class="tablenav">
              <%#= will_paginate @comments, {:renderer => 'RemoteLinkRenderer', :params => {:controller => 'active', :action => 'comment_list'}} %>
            </div>
          </div>
          <div class="w340r">
            <div class="bt3">
              <div class="bt3_a"></div>
              <div class="bt3_b">
                <p><img src="/images/active/tb_wjj.jpg" width="8" height="10" align="absmiddle" /> 最新博客</p>
                <span>
                  <a href="/active/blog_list" class="csxred">查看全部</a>
              </span></div>
              <div class="bt3_c"></div>
            </div>
            <div class="h12"></div>
            <div class="alist" id="blog">
              <ul>
                <% @blogs.each do |blog|  %>
                  <% unless blog.nil? %>
                    <li><a href="<%= blog.user.space_url %>/entry/<%= blog.id %>" target="_blank"><%= blog.title %></a></li>
                  <%end%>
                <% end %>
              </ul>
            </div>
            <div class="h12"></div>
          </div>
        </div>
        <div class="h12"></div>
      </div>
      <div class="right" id="second_r">
        <!--共用数据统计-->
        <%= render :partial => "statistics" %>
      </div>

