
<div class="left" id="first_l">
  <div class="onebg">
    <div class="jrzd">
      <img src="/images/active/index_jrzd.jpg" />
      <div class="h12"></div>
      <table width=323 border=0 cellpadding=0 cellspacing=0 bgcolor="#cccccc" class="center">
        <tr valign=top>
          <td colspan=3><a onClick="gotoshow()" onMouseOver="tu_ove()" onMouseOut="ou()" style="cursor:hand"><img src="/images/active/ad-01.jpg" width=323 height=210 name="slide" border=0></a></td>
        </tr>
        <tr>
          <td width=263 height=19 align=center ><div id=textslide>焦点图标题层</div></td>
          <td width=1 ><div style="position:relative">
              <div style="position:absolute;top:10px; ">
                <table width=95 border=0 cellpadding=0 cellspacing=0>
                  <tr valign=top align=center >
                    <td width="19" height="0"><div style="position:relative; ">
                        <div style="position:absolute;top:-19px;left:9px;"><img src="/images/active/bian1.gif" id=xiaosan1 width=10 height=3 border=0></div>
                    </div></td>
                    <td width="19" height="0"><div style="position:relative">
                        <div style="position:absolute;top:-19px;left:9px"><img src="/images/active/bian1.gif" id=xiaosan2 width=10 height=3></div>
                    </div></td>
                    <td width="19" height="0"><div style="position:relative">
                        <div style="position:absolute;top:-19px;left:9px"><img src="/images/active/bian1.gif" id=xiaosan3 width=10 height=3></div>
                    </div></td>
                    <td width="19" height="0"><div style="position:relative">
                        <div style="position:absolute;top:-19px;left:9px"><img src="/images/active/bian1.gif" id=xiaosan4 width=10 height=3></div>
                    </div></td>
                    <td width="19" height="0"><div style="position:relative;">
                        <div style="position:absolute;top:-19px;left:9px"><img src="/images/active/bian1.gif" id=xiaosan5 width=10 height=3></div>
                    </div></td>
                  </tr>
                </table>
              </div>
          </div></td>
          <td width=95 height="19">
            <table width=95 border=0 cellpadding=0 cellspacing=0  >
              <tr valign=top>
                <td width="19" height="19" class="homejdboder"><a style="cursor:hand" onMouseOver="ove(0)" onMouseOut="ou()"><img src="/images/active/1.gif" width="19" height="19" border=0></a></td>
                <td width="19" height="19" class="homejdboder"><a style="cursor:hand" onMouseOver="ove(1)" onMouseOut="ou()"><img src="/images/active/2.gif" width="19" height="19" border=0></a></td>
                <td width="19" height="19" class="homejdboder"><a style="cursor:hand" onMouseOver="ove(2)" onMouseOut="ou()"><img src="/images/active/3.gif" width="19" height="19" border=0></a></td>
                <td width="19" height="19" class="homejdboder"><a style="cursor:hand" onMouseOver="ove(3)" onMouseOut="ou()"><img src="/images/active/4.gif" width="19" height="19" border=0></a></td>
                <td width="19" height="19"><a style="cursor:hand" onMouseOver="ove(4)" onMouseOut="ou()"><img src="/images/active/5.gif" width="19" height="19" border=0></a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <script language=JavaScript src="/javascripts/active/5adpics.js"></script>
    </div>
    <div class="news">
      <div class="tab-box" id="tab_b">
        <div>
          <ul class="tab-btbt">
            <li class="selected"><a href="#">大赛新闻</a></li>
            <li class="selected"><a href="#">活动规则</a></li>
            <li class="selected"><a href="#">主办单位</a></li>
            <li class="selected"><a href="#">赞助单位</a></li>
            <li class="selected"><a href="#">支持媒体</a></li>
          </ul>
        </div>
        <div class="tab-main">
          <div class="alist">
            <div class="danews fht16"><a href="#">关于选手ID的注册规范注册规范注册规范和集体</a></div>
            <div class="h12"></div>
            <ul>
              <li><a href="#">交通资讯输企业经营资企业经营资质企业经营法</a><span class="fve9 huise">[04-16]</span></li>
              <li><a href="#">交通资讯运输企业经营资质管理办法</a><span class="fve9 huise">[04-16]</span></li>
              <li><a href="#">交通资讯运输企业经营资质管理办法</a><span class="fve9 huise">[04-16]</span></li>
              <li><a href="#">道交通资讯运输企业经营资质管理办法</a><span class="fve9 huise">[04-16]</span></li>
              <li><a href="#">交通资讯输企业经营资质管理办法</a><span class="fve9 huise">[04-16]</span></li>
              <li><a href="#">道路旅客运输企业经营资质管理办法</a><span class="fve9 huise">[04-16]</span></li>
              <li><a href="#">道交通资讯运输企业经营资质管理办法</a><span class="fve9 huise">[04-16]</span></li>
              <li><a href="#">交通资讯输企业经营资质管理办法</a><span class="fve9 huise">[04-16]</span></li>
              <li><a href="#">道路旅客运输企业经营资质管理办法</a><span class="fve9 huise">[04-16]</span></li>
            </ul>
          </div>
        </div>
        <div class="tab-main">
          <div class="h12"></div>
          <div class="w95">活动规则</div>
        </div>
        <div class="tab-main">
          <div class="h12"></div>
          <div class="w95">主办单位</div>
        </div>
        <div class="tab-main">
          <div class="h12"></div>
          <div class="w95">赞助单位</div>
        </div>
        <div class="tab-main">
          <div class="h12"></div>
          <div class="w95">支持媒体</div>
        </div>
      </div>
      <SCRIPT type="text/javascript">
        var tabb = TB.widget.SimpleTab.decorate('tab_b', {eventType:'mouse',currentClass:'selected'});
        tabb.switchTab(Math.floor(Math.random() * $text));
      </SCRIPT>
    </div>
    <div class="h12"></div>
  </div>
  <div class="h12"></div>
  <div class="bt1">
    <div class="bt1_t">
      <div class="bt1_ta"></div>
      <div class="bt1_tb"><img src="/images/active/tu_csxs.jpg" /><span><a class="csxred" href="#">查看全部</a></span></div>
      <div class="bt1_tc"></div>
    </div>
    <div class="bt1_m">
      <div class="tab-box3" id="tab_b3">
        <div>
          <ul class="tab-btbt3">
            <li class="selected3"><a href="#">最新加入</a></li>
            <li class="selected3"><a href="#">随机展示</a></li>
          </ul>
          <div class="h12"></div>
        </div>
        <div class="tab-main3">
          <div class="friend">
            <ul>
              <% for user in @users do %>
                  <% unless user.nil? %>
                    <li><a href="vip.html"><img src="<%=user_icon(user.id, 'normal')%>" /></a><br />
                      <a class="cblack f14b" href="vip.html"><%=user.real_name%></a>
                      <label>
                        <input type="hidden" id="vote" value="<%=user.id%>">
                        <input name="button" type="submit" class="button6422" id="button_tp" value="投票" onclick="window.location.href ='/vip/index?user_id='+<%=user.id%>" />
                      </label><br />
                      来自：客户世界机构<br />
                    票：<span class="blue">34</span> 文：<a href="my_blog.html" class="csxred">65</a> 照：<a href="my_photo.html" class="csxred">56</a></li>
                  <%end%>
                <%end%>
              </ul>
            </div>
          </div>
        </div>
        <SCRIPT type="text/javascript">
          var tabb = TB.widget.SimpleTab.decorate('tab_b3', {eventType:'mouse',currentClass:'selected3'});
          tabb.switchTab(Math.floor(Math.random() * $text));
        </SCRIPT>
      </div>
      <div class="h12"></div>
      <div class="bt1_b"></div>
    </div>
  </div>
  <div class="right" id="first_r">
    <%= render :partial => "/active/login_form" %>
    <div class="h12"></div>
    <div class="ad1"><img src="/images/active/ad1.jpg" /></div>
    <div class="h12"></div>

    <!--共用排行榜-->
    <%= render :partial => "phb"  %>
  </div>
  <div class="clear"></div>
  <div class="ad2" id="ad2"><img src="/images/active/ad2.jpg" /></div>
  <div class="left" id="second_l">
    <div class="onebg">
      <div class="w340l">
        <div class="bt3">
          <div class="bt3_a"></div>
          <div class="bt3_b">
            <p><img src="/images/active/tb_wjj.jpg" width="8" height="10" align="absmiddle" /> 最新评论</p><span>
              <a class="csxred">查看更多</a>
          </span></div>
          <div class="bt3_c"></div>
        </div>
        <div class="h12"></div>
        <div class="alist" id="comment">
          <ul><% for info in @comments do %>
                <% unless info.nil? %>
                  <li><a href="#"><%= info.title %></a></li>
                <%end%>
              <%end%>
            </ul>
          </div>
          <div class="h12"></div>
        </div>
        <div class="w340r">
          <div class="bt3">
            <div class="bt3_a"></div>
            <div class="bt3_b">
              <p><img src="/images/active/tb_wjj.jpg" width="8" height="10" align="absmiddle" /> 最新博客</p>
              <span>
                <a href="" class="csxred">查看全部</a>
              </span></div>
            <div class="bt3_c"></div>
          </div>
          <div class="h12"></div>
          <div class="alist" id="blog"><!--lixj-->
            <ul>
              <% @blogs.each do |blog|  %>
                <% unless blog.nil? %>
                  <li><a href="#"><%= blog.title %></a></li>
                <%end%>
              <% end %>
            </ul>
          </div>
          <div class="h12"></div>
        </div>
      </div>
      <div class="h12"></div>
    </div>
    <div class="right" id="second_r">
      <!--共用数据统计-->
    <%= render :partial => "statics" %>
    </div>

