<%=  render :partial => "/manage/share/left" %>

<div class="m_r">

  <!--person_menu-->
  <%=  render :partial => "/manage/regards/regard_menu" %>
  <!--person_menu-->
  <div class="manage_m L">
    <h2>好友的问候</h2>
    <table cellpadding="0" cellspacing="0" id = "comment_table">
      <tr>
        <td class="tit" width="283">内容</td>
        <td class="tit" width="110">发送好友</td>
      </tr>
      <%for regard_user in @user_reagrds do %>
        <tr id="t_<%= regard_user.id %>">
          <td><img src="/images/regard_imgs/<%=  regard_user.regard.icon %>"></td>
          <td>
             <a href="<%= regard_user.friend.space_url %>" target="_blank"><%= regard_user.friend.user_name %></a>
          </td>
        </tr>
      <%end%>
    </table>

  </div>
</div><!--m_r-->
