<style type="text/css">
  <!--
  .clear{/*<清除左右浮动>*/
    clear:both;/*<清除左右浮动>*/
    width:1px;/*<隐藏宽度>*/
    font-size:1px;/*<隐藏字体>*/
    height:0;/*<隐藏高度>*/
    line-height:0;/*<隐藏行高>*/
    visibility:hidden;/*<隐藏元素>*/
  }
  .main { width:320px; height:160px; border:1px solid #98b1c8; padding:1px;background-color:#FFFAF0; }
  .bt{ width:100%; height:22px; line-height:22px; background:#e0ebf9;size:12px; border-bottom:1px solid #98b1c8;}
  .name{width:98%;height:110px; margin:0 auto; overflow:auto; }
  .name ul{ width:300px; margin:0 auto;}
  .name li{ float:left; display:block; width:95px; height:25px; line-height:25px; list-style:none;border-bottom:1px dotted  #ccc;}
  .sel{width:100%;height:25px; text-align:left;}

  -->
</style>
<div class="right2">
  <div class="dbt"><p><a href="/manage/regards/send_for"><img src="/images/new/chat_32.png" align="absmiddle"></a> 打招呼</p><span></span></div>
  <%= render :partial => "/manage/regards/regard_menu" %>
  <div class="height20"></div>
  <div class="w90">
    <div class="gift">
      <div><% unless flash[:notice].blank? %><img src="/images/icon_error_lrg.gif"><%end%><%= flash[:notice] %></div>
     <%form_for :regard_user,:url => "/manage/regards/send_to",:html => {:name => "my_send_form"} do |f|  %>
      <div class="gift_t"><p>发送给哪几位好友：</p></div>
      <p><input name="friend_name" id="friend_name" type="text"><a href="#" onclick="return false;" title="选择好友" ><img src="/images/xx_xx1.gif" align="absmiddle" alt="选择好友" onclick="Element.show('friend_list');"/></a></p>
      <%= render :partial => "/manage/gifts/friend_list" %>
      <div class="height20"></div>
      <div class="gift_t"><p>选择动作：</p></div>
      <div class="gift_m">
        <div class="gift_main2">
          <div class="gift_bt">&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <div class="height12"></div>
          <ul>
            <%for regard in @regards do %>
            <li><span><input name="regard_user[regard_id]" value="<%=regard.id%>" type="radio" <% if @regard_user.regard_id && @regard_user.regard_id == regard.id %>checked<%end%>></span>
            <img  title="<%=regard.name_zh%>" alt="<%= regard.name_zh %>" src="/images/regard_imgs/<%=regard.icon%>"/><%= regard.name_zh %></li>
            <%end%>
          </ul>
        </div>
        <div class="height20"></div>
        <div class="gift_bd">
          <strong>附言:</strong><br>
          <%= f.text_area :post,:class => "text",:cols => "45" ,:rows => ""  %>
          <br>
          <input type="radio" value="0" name="regard_user[send_mode]" checked/>悄悄的送<span class="c9"> (不让其他人知道是你送的)</span><br>
          <input type="radio" value="1" name="regard_user[send_mode]"/>匿名送<span class="c9"> (不让对方知道是你送的)</span><br>
          <div class="height20"></div>
        </div>
        <div class="gift_btn">
          <input style="width: 100px; height: 25px;" name="button" id="button" value="发送动作" type="submit">
        </div>
      </div>
      <%end%>
    </div>
  </div>
  <div class="height20"></div>
</div>