<div class="w100">
  <div class="title2">
    <p>推荐群组</p>
  </div>
  <% for group in @recomment_groups  %>
    <div class="group2">
      <div class="group2_tu"><a href="/manage/user_groups/<%= group.id %>"><img src="<%= group.icon %>"></a></div>
      <div class="group2_wen"><p class="fb"><a href="/manage/user_groups/<%= group.id %>"><%= h group.title %></a></p>
        <strong>分类：</strong><%= group.category %><br>
        <strong>人数：</strong><%= group.member_count %>人<br>
        <a href="/manage/user_groups/<%= group.id %>/edit">编辑该专辑</a>
        <% unless group.is_in_group?(current_user) %>
          <p><a href="/manage/user_groups/<%= group.id %>/join"><b>+ 加入该群组</b></a></p>
        <%else%>
          <p><a href="/manage/user_groups/<%= group.id %>/new_topic"><b>+创建话题</b></a></p>
        <%end%>
      </div>
    </div>
    <div style="clear:both;"></div>
  <%end%>
  <div class="height20"></div>
</div>
