<div class="right2">
  <%= render :partial => "/manage/user_groups/group_menu" %>
  <div class="height20"></div>
  <div class="w90">
    <div class="height20"></div>
    <% for group in @user_groups %>
      <div class="group">
        <div class="group_tu"> <a href="/manage/user_groups/<%= group.id %>"><img src="<%= group.icon %>"/></a></div>
        <div class="group_wen"><p class="f14b"><a href="/manage/user_groups/<%= group.id %>"><%= group.title %></a></p>
          <strong>分类：</strong><%= group.category %><br>
          <strong>人数：</strong><%= group.member_count %><br>
          <strong>简介：</strong><%= h group.description %><br>
        <a href="/manage/user_groups/<%= group.id %>/eidt">编辑该专辑</a></div>
        <div class="group_into"><a href="/manage/user_groups/<%= group.id %>">浏览此群组</a><br>
          <% if group.is_in_group?(current_user) %>
            <% unless group.is_group_admin?(current_user) %>
              <a class="red_underline" href="/manage/user_groups/<%= group.id %>/quit">退出该群组</a>
            <%end%>
            <a class="red_underline" href="/manage/user_groups/<%= group.id %>/new_topic">新建话题</a>
          <%else%>
            <a class="red_underline" href="/manage/user_groups/<%= group.id %>/join">加入该群</a>
          <%end%>
        </div>
        <div class="height20"></div>
        <div class="height20"></div>
      </div>
      <div class="height20"></div>
    <%end%>
    <div class="jogger">
      <%= will_paginate @user_groups, {:prev_label => '上一页', :next_label => '下一页'} %>
    </div>
    <div class="height20"></div>
  </div>
  <div class="clear"></div>
</div>