<div class="m_l L">
  <div class="face L">
    <img class="border" src="/images/pic_big_none.gif"/>
    <!--ul>
      <li>日志数：20</li>
      <li>评论数：15</li>
      <li>访问量：50</li>
      <li>总积分：20</li>
    </ul-->

  </div>
  <!--div class="visitor">
    <div class="tit border"><h6>最近访客</h6></div>
    <div class="v_m">
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">xiao-fox</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">pawa</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">qing qing cao</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="tit border"><h6>未读评论<span style="color:#999;">（3）</span></h6></div>
    <div class="comment_m">
      <p><a href=""><b>allein：</b></a><a href="">休假的时间得好好珍惜</a></p>
      <p><a href=""><b>wangjing:</b></a><a href="">很久没有休假了吧</a></p>
      <p><a href=""><b>admin:</b></a><a href="">出趟海吧，打一网渔！</a></p>
    </div>
  </div-->
</div><!--m_l-->

<div class="m_r">

  <!--person_menu-->
  <%=  render :partial => "/manage/user_groups/group_menu" %>
  <!--person_menu-->
  <div class="qun_m L">
    <%= render :partial => '/manage/user_groups/search' ,:locals => {:info => "新建话题",:info_class => 'qun_mine'}%>
    <div class="clear li_m">
      <div class="clear li_m">
        <% form_for :group,:url => "/manage/user_groups/#{params[:id]}/create_topic" do |f| %>
        <table class="qun_add">
          <tbody>
            <tr>
              <td>话题名称：</td>
              <td>
                <input name="topic[title]" size="50" maxlength="50" type="text" value="<%= @topic.title %>">
              </td>
            </tr>
            <tr>
              <td>话题描述：</td>
              <td><textarea name="topic[description]" cols="50" rows="5"><%= @topic.description %></textarea><br>公告字数不得超过200个字。</td>
            </tr>
            <tr>
              <td></td>
              <td><input style="margin-top: 5px; height: 22px; width: 70px; font-size: 12px;" name="" value="创 建" type="submit"></td>
            </tr>
            <input type="hidden" name="topic[user_group_id]" value="<%= params[:id] %>">
            <input type="hidden" name="topic[admin_id]" value="<%= @user_group.user_id %>">
          </tbody>
        </table>
        <%end%>
      </div>
    </div>
  </div>
</div><!--m_r-->
