    <script>set_current_channel('cms')</script>
    <% form_tag('/admin/assets/destroy', :id => 'posts-filter' ) do %>

    <h2>Manage Assets (<%= link_to 'add new', :controller => 'assets', :action => 'new', :path => @path %>)</h2>

    <ul class="subsubsub">
    <li><a href='' class="current">All Assets</a> | </li><li><a href=''>Images</a></li> | </li><li><a href=''>Stylesheets</a></li> | </li><li><a href=''>Javascripts</a></li></ul>


    <p id="post-search">
      <input type="text" id="post-search-input" name="s" value="" />
      <input type="submit" value="Search Assets" class="button" />
    </p>

    <div class="tablenav">

    <div class="alignleft">
    <input type="submit" value="Delete" name="deleteit" class="button-secondary delete" />
    <select name='m'>
    <option selected="selected" value='0'>Show all dates</option>
    <option value='200807'>July 2008</option>
    </select>

    <select name='cat' id='cat' class='postform' >
      <option value='0'>View all categories</option>
      <option value="1">Uncategorized</option>
    </select>
    <input type="submit" id="post-query-submit" value="Filter" class="button-secondary" />

    </div>

    <br class="clear" />
    </div>

    <br class="clear" />

    <table class="widefat">
      <thead>
      <tr>

      <th scope="col" class="check-column"><input type="checkbox" onclick="checkAll(document.getElementById('posts-filter'));" /></th>
      <th scope="col">Name</th>
      <th scope="col">File Name</th>
      <th scope="col">Type</th>
      <th scope="col">Date</th>

      </tr>
      </thead>
      <tbody>
        <%= hidden_field_tag 'current_path', params[:path] %>
        <% for asset in @assets -%>
        <tr id='post-1' class='alternate author-self status-publish' valign="top">
          <th scope="row" class="check-column"><input type="checkbox" name="path[<%= asset.path %>]" value="<%= asset.path %>" /></th>
          <td>
            <strong><%= link_to asset.filename, {:controller => 'admin/assets', :path => asset.path}, {:class =>'tow=title'} if asset.dir? %></strong>
            <%= link_to asset.filename, {:controller => 'admin/assets', :action => 'edit', :path => "#{asset.path}"}, {:class =>'tow=title'} unless asset.dir?%>
          </td>
          <td><%= asset.path %></td>
          <td><%= asset.content_type %></td>
          <td><abbr title="<%= asset.created_at %>"><%= asset.created_at %></abbr></td>
        </tr>
        <% end -%>
      </tbody>
    </table>

    <% end -%>

    <div id="ajax-response"></div>

    <div class="tablenav">
      <%#= will_paginate @assets %>
    </div>

    <br class="clear" />
