<script>set_current_channel('ccmw')</script>
<h2><%= t 'text.tag.manage_tags' %> (<%= link_to (t 'text.add'), :controller => 'tags', :action => 'new' %>)</h2>
<% form_tag :controller => 'admin/tags', :action => 'create' do -%>

<ul class="subsubsub">
  <li><a class="current"><%= t 'text.add' %></a></li> |
    <li><a class="current"><%= link_to (t 'text.cancel'), tags_path, :class => 'cancel' %></a></li>
</ul>

<%= render :partial => 'form' %>

<div id="ajax-response"></div>

<div class="tablenav">
    <br class="clear" />
</div>

<br class="clear" />
<% end -%>
