<% form_for(@role,:url => @role.new_record? ? '/admin/roles' : "/admin/roles/#{@role.id}") do |f| %>
  <%= error_messages_for 'role' %>
<% unless @role.new_record? %>
  <ul class="subsubsub">
    <li><a class="current"><%= @role.role_name %></a></li>
  </ul>
  <%end%>
  <table class="form-table">
    <tr class="form-field form-required">
      <th scope="row" valign="top"><label for="template_name">Role Name</label></th>
      <td><%= f.text_field(:role_name) %></td>
    </tr>
    <tr class="form-field">
      <th scope="row" valign="top"><label for="category">Status</label></th>
      <td>
        <select name="role[status]">
          <%= generate_role_status_opetions(@role.status) %>
        </select>
      </td>
    </tr>
    <tr class="form-field">
      <th scope="row" valign="top"><label for="body">Descriptiony</label></th>
      <td><%= f.text_area(:description,:cols => 75,:rows => 10)%></td>
    </tr>
  </table>
  <p class="submit">
    <input type="submit" class="button" name="submit" value="Save" />
  </p>

  <div id="ajax-response"></div>

  <div class="tablenav">
    <br class="clear" />
  </div>

  <br class="clear" />
<% end %>
