  <form action="/manage/sidebars/{{id}}/edit" method="get" onsubmit="post_sidebar_form(this, {{id}});return false;">
    <span>标题</span>
    <input type="text" name="sidebar[header]" value="{{ header }}" style="width:300px;" /><br/>
    <span>内容</span>
    <textarea name="sidebar[content]" style="width:300px;height:80px;">{{ content }}</textarea><br/>
    <input type="submit" value="保存">
    <span  id='onload_img' style='display:none;'><img src='/images/spinner.gif' /></span>
  </form>
<!--  onsubmit="post_sidebar_form(this, {{id}});return false;" -->