<div class="L signup">  
  <%form_tag("/user/forget_password") do %>
    <div>
      <table>
        <tr>
          <td colspan="2" class="tit_bg"><div class="ico">找回密码</div><span style="color:#800000;"><%= flash[:warning] %></span></td>
        </tr>
        <% fields_for :user, @user do |u_field| %>
        <tr>
          <td align="right">用户名：</td>
          <td>
           <%= u_field.text_field(:user_name, :class => "InpTxt" )%>
          </td>
        </tr>
        <tr>
          <td align="right">用户邮箱：</td>
          <td>
            <%= u_field.password_field(:email, :class => "InpTxt")%>
          </td>
        </tr>
        <tr>
          <td align="right">密码提示问题：</td>
          <td>
            <%= u_field.text_field(:pwd_question, :class => "InpTxt")%>
          </td>
        </tr>
        <tr>
          <td align="right">提示问题答案：</td>
          <td>
            <%= u_field.text_field(:pwd_anwser, :class => "InpTxt")%>
          </td>
        </tr>
        <%end%>
        <tr>
          <td colspan="2" align="left">
            <div style="text-align:left;padding-left:380px;">
              <input name="vip" type="submit" value="提交" />
            </div>
          </td>
        </tr>
      </table>
    </div>
  <%end%>
</div>
<script>
  document.getElementById('user_user_name').focus();
</script>