<div class="right2">
  <div class="dbt">
    <p><a href=""><img src="/images/new/applications_32.png" align="absmiddle"></a> 风格设置</p><span></span>
  </div>
  <%= render :partial => "/manage/themes/setting_menu" %>
  <div class="height20"></div>
  <%form_for :blog_config,:url => "/manage/blog_configs/#{@blog_config.id}",:html => {:name => 'message_form' ,:method => :put} do |f|  %>
    <div class="w90">
      <div style="padding-left:100px;">
        <% if flash[:success] %>
          <span><img src='/images/icon_success_lrg.gif'>保存成功</span>
        <%elsif flash[:error]%>
          <img src='/images/icon_error_lrg.gif'><font color='red'><%= category.errors.full_messages.join(';') %></font>
        <%end%>
      </div>
      <p><span>博客名称：</span><font style="color:red;"><%= @blog_config.errors.on(:blog_name) %></font>
        <%= f.text_field :blog_name,:size => '65',:maxlength => '65' ,:class => "title" %>
      </p>
      <p><span>个人签名：</span><font style="color:red;"><%= @blog_config.errors.on(:announcement) %></font>
        <%= f.text_field :announcement,:size => '65',:maxlength => '65' ,:class => "title" %>
      </p>
      <p><span>博客皮肤：</span>
        <select name="blog_config[theme_name]">
          <%= generate_theme_options(@blog_config.theme_name) %>
        </select>
      </p>
      <p><span>每页文章数：</span>
        <font style="color:red;"><%= @blog_config.errors.on(:blog_perpage) %></font>
        <%= f.text_field :blog_perpage %>
      </p>
      <p><span>每页评论数：</span>
        <font style="color:red;"><%= @blog_config.errors.on(:comment_perpage) %></font>
        <%= f.text_field :comment_perpage %>
      </p>
      <input class="submit"  type="submit" value="保 存" />
      <div class="height12xhx"></div>
    </div>
  <%end%>
  <div class="height20"></div>
</div>