<%=  render :partial => "/manage/share/left" %>

<div class="m_r">
<!--person_menu-->
<%=  render :partial => "/manage/share/blog_menu" %>
<!--person_menu-->
  <div class="blog_write_m L">
    <h2>博客设置</h2>
    <div class="blog_write_top clear"></div>
    <%form_for :blog_config,:url => "/manage/blog_configs/#{@blog_config.id}",:html => {:name => 'message_form' ,:method => :put} do |f|  %>
    <div class="blog_write_center">
      <div style="padding-left:100px;">
        <% if flash[:success] %>
        <span><img src='/images/icon_success_lrg.gif'>保存成功</span>
        <%elsif flash[:error]%>
         <img src='/images/icon_error_lrg.gif'><font color='red'><%= category.errors.full_messages.join(';') %></font>
       <%end%>
      </div>
      <p><b>博客名称：</b><font style="color:red;"><%= @blog_config.errors.on(:blog_name) %></font>
        <%= f.text_field :blog_name,:size => '65',:maxlength => '65' ,:class => "title" %>
      </p>
      <p><b>个人签名：</b><font style="color:red;"><%= @blog_config.errors.on(:announcement) %></font>
        <%= f.text_field :announcement,:size => '65',:maxlength => '65' ,:class => "title" %>
      </p>
      <p><b>博客皮肤：</b>
        <select name="blog_config[theme_name]">
          <%= generate_theme_options(@blog_config.theme_name) %>
        </select>
      </p>
      <p><b>每页文章数:</b>
        <font style="color:red;"><%= @blog_config.errors.on(:blog_perpage) %></font>
        <%= f.text_field :blog_perpage %>
      </p>
       <p><b>每页评论数:</b>
        <font style="color:red;"><%= @blog_config.errors.on(:comment_perpage) %></font>
        <%= f.text_field :comment_perpage %>
      </p>
      <input class="submit"  type="submit" value="保 存" />
    </div>
    <%end%>
    <div class="blog_write_bottom"></div>
  </div>
</div><!--m_r-->

