<p><b><br />
选择礼物：</b><font style="color:#999;"></font>      </p>
<div class="l" style="width: 700px; padding:10px; border:1px solid #ccc" >
  <%for gift in gifts do %>
    <div class="l" style="width: 110px; height: 50px;">
      <div class="l" style="margin-top: 25px;">
        <input type="radio" value="<%=gift.id%>" name="gift_user[gift_id]" <% if @gift_user &&  @gift_user.gift_id && @gift_user.gift_id == gift.id %>checked<%end%>/>
      </div>
      <div id="giftitem_<%=gift.id%>" class="l" style="margin-left: 2px;">
        <img align="absmiddle" title="<%=gift.name_zh%>" alt="巧克力" src="/images/gifts_imgs/<%=gift.icon%>"/>
      </div>
    </div>
  <%end%>
  <div class="clear"> </div>
  <div style=" width:100%; height:22px; text-align:right; " >
    <%= will_paginate gifts,{:prev_label => "<<上页",:next_label => '下页>>',:renderer => RemoteLinkRenderer,:params => {:controller => 'manage/gifts',:action => 'gift_list'}} %>
  </div>
</div>