    <script>set_current_channel('ccmw')</script>
    <% form_tag('/admin/links/destroy', :id => 'posts-filter' ) do %>
    <h2><%= t 'text.link.manage_links' %> (<%= link_to (t 'text.add'), :controller => 'links', :action => 'new' %>)</h2>

    <ul class="subsubsub">
      <%= link_categories_links @category %>
    </ul>


    <p id="post-search">
      <input type="text" id="post-search-input" name="s" value="" />
      <input type="submit" value="<%= t 'text.search' %>" class="button" />
    </p>

    <div class="tablenav">

    <div class="alignleft">
    <input type="button" value="<%= t 'text.delete' %>" name="deleteit" class="button-secondary delete" onclick="$('posts-filter').action='/admin/links/destroy';$('posts-filter').submit();" />

    <select name='category' id='category' class='postform' >
      <option value=""></option>
      <%= options_for_select link_categories, @category %>
    </select>
    <input type="button" id="post-query-submit" value="<%= t 'text.search' %>" class="button-secondary"  onclick="$('posts-filter').action='/admin/links';$('posts-filter').submit();"/>

    </div>

    <br class="clear" />
    </div>

    <br class="clear" />

    <table class="widefat">
      <thead>
      <tr>

      <th scope="col" class="check-column"><input type="checkbox" onclick="checkAll(document.getElementById('posts-filter'));" /></th>
      <th scope="col"><%=  t 'text.link.name' %></th>
      <th scope="col"><%=  t 'text.link.category' %></th>

      </tr>
      </thead>
      <tbody>
        <% for link in @links -%>
        <tr id='post-1' class='alternate author-self status-publish' valign="top">
          <th scope="row" class="check-column"><input type="checkbox" name="id[]" value="<%= link.id %>" /></th>
          <td><strong><%= link_to link.name, {:controller => 'admin/links', :action => 'edit', :id => link.id}, {:class =>'tow=title'} %></strong></td>
          <td><a href='?category=<%= link.category %>'><%= link.category %></a></td>
        </tr>
        <% end -%>
      </tbody>
    </table>

    <% end  %>

    <div id="ajax-response"></div>

    <div class="tablenav">
      <%= will_paginate @links, :prev_label => (t 'text.previous'), :next_label => (t 'text.next'), :params => {:category => @category} %>
    </div>

    <br class="clear" />
