<div class="right2">
 <%=  render :partial => "/manage/votes/vote_menu"%>
  <div class="height20"></div>
  <div class="w90">
    <div class="height20"></div>
    <%unless  @votes.blank?%>
    <% for vote in @votes %>
    <div class="blog">
      <dl>
        <dt><a href="/manage/votes/<%= vote.id   %>"><%= h vote.title %></a></dt>
        <% if current_user.id == vote.user_id %>
          <%= link_to image_tag("/images/new/121.gif"),"/manage/votes/#{vote.id}/destroy", :confirm => '确认要删除吗？', :method => :delete %>
        <%end%>
        <dd><strong>发表于</strong><%= vote.created_at.strftime('%m/%d/%y %H:%M:%S') %> | <strong>到期时间</strong><%= vote.expire_time.strftime('%m/%d/%y %H:%M:%S') %>|<strong>发起人：</strong><a href="<%= vote.owner.space_url %>" target="_blank"><%= vote.owner.real_name %></a>| <strong>投票人数：</strong>(<%= vote.member_count  %>) | </dd>
      </dl>
      <p><%= vote.description %><br>
      <% if vote.permite_vote?(current_user) %>
         <a href="/manage/votes/<%= vote.id   %>">参加投票</a>
       <%end%> &gt;&gt;</p> <br>
    </div>
    <div class="height20"></div>
    <%end%>
    <div class="jogger">
       <%= will_paginate @votes, {:prev_label => '上一页', :next_label => '下一页'} %>
    </div>
   <%else%>
     暂无投票
   <%end%>
  </div>
  <div class="height20"></div>
</div>