<div class="m_l L">
  <div class="face L">
    <img class="border" src="/images/pic_big_none.gif"/>
    <!--ul>
      <li>日志数：20</li>
      <li>评论数：15</li>
      <li>访问量：50</li>
      <li>总积分：20</li>
    </ul-->

  </div>
  <!--div class="visitor">
    <div class="tit border"><h6>最近访客</h6></div>
    <div class="v_m">
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">xiao-fox</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">pawa</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">qing qing cao</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="tit border"><h6>未读评论<span style="color:#999;">（3）</span></h6></div>
    <div class="comment_m">
      <p><a href=""><b>allein：</b></a><a href="">休假的时间得好好珍惜</a></p>
      <p><a href=""><b>wangjing:</b></a><a href="">很久没有休假了吧</a></p>
      <p><a href=""><b>admin:</b></a><a href="">出趟海吧，打一网渔！</a></p>
    </div>
  </div-->
</div><!--m_l-->

<div class="m_r">

  <!--person_menu-->
<%=  render :partial => "/manage/messages/message_menu" %>
<!--person_menu-->

  <div class="manage_m L">
    <h2>公告管理</h2>
    <table cellpadding="0" cellspacing="0" id = "comment_table">
      <tr>
        <td class="tit" width="87">标题</td>
        <td class="tit" width="283">内容</td>
        <td class="tit" width="110">发布时间</td>
        <td class="tit">管理</td>
      </tr>
      <%for message in @messages do %>
        <tr id="t_<%= message.id %>">
          <td class="a_tit m_border"><a href="#"><%= h message.title %></a></td>
          <td class="a_tit m_border"><%= h message.content %></td>
          <td class="m_border">
            <%= timelong(message.created_at) %>
          </td>
          <td class="m_border">
            <a href="/manage/messages/<%= message .id  %>/edit" title="编辑"><img alt="编辑" src="/images/btn_edit.png"></a>
            <%= link_to_function('<img alt="删除" src="/images/btn_delete.png">', "if (confirm('确定要删除嘛？')) do_delete(this)",:title => '删除',:href => "/manage/messages/#{message.id}/delete") %>
          </td>
        </tr>
      <%end%>
    </table>
    <%= will_paginate @messages, {:prev_label => '上一页', :next_label => '下一页'} %>
  </div>
</div><!--m_r-->
