<ul id="posts">
<div class="postsTop"></div>
<li>
  <div class="postHeader">
    <h3>{{ entry.created_at | timelong }}</h3>
    <h2>{{ entry | entry_link }}</h2>
  </div>
  <div class="clear"></div>
  <div class="postBody">
    {{ entry.body }}
  </div>
  <div class="tags">Tag：{{entry|display_blog_tags}}</div>
  <div class="postFooter">
    <div class="menubar"><span class="author"><a href="">{{entry.author}}</a></span> 发表于<span class="time">{{entry.created_at|timelong}}</span>
  </div>
</li>
<div class="postsBottom"></div>
</ul>

<ul id="comments"><h2>评论({{entry.comment_count}})</h2>
{% for comment in comments %}
{% include 'comment' %}
{% endfor %}
</ul>
<div class="pageNavi">{{ comments | will_paginate }}</div>

<div id="commentForm">
<form name="comment_form" id="comment_form" method="post" action="/blogs/{{entry.id}}/comments/create">
  <h2 id="respond">发表评论</h2><span class='author' style='color:red;display:none;' id='erro_info'>评论不成功</span>
{% if if_login %}
{% else%}
  <p>
    <label>用户名(您还没有登录)</label>
    <input type="text" name="user[user_name]" class='styled' size=22>
  </p>
  <p>
    <label>密 码</label>
    <input type="password" name="user[password]" class='styled' size=22>
  </p>
{% endif %}
  <p>
      <label>内 容(<span class='author'>至少5个字符</span>)</label>
      <textarea name="comment[body]" class="styled" rows=10 cols=20>{{comment.body}}</textarea>
      <input type="hidden" name="comment[blog_id]" value="{{entry.id}}">
  </p>
  <p>
    <input type="button"  value="评论" id="form-submit-button" onclick="submit_comment()"> 
    <img src="/images/spinner.gif" id="comment_loading" style ="display:none" >
  </p>
</form>
</div>
