<ul id="posts">
<div class="postsTop"></div>
{% for entry in entries %}
<li>
  <div class="postHeader">
    <h2>{{ entry | entry_link }}</h2>
    <h3>{{ entry.created_at | timelong }}</h3>
    <div class="tags">Tag：</div>
  </div>
  <div class="clear"></div>
  <div class="postBody">
    {{  entry|filter_html }}
  </div>
  <div class="clear"></div>
  <div class="postFooter">
    <div class="menubar"><span class="author">
     <a href="">{{entry.author}}</a></span> 发表于<span class="time">{{entry.created_at|timelong}}</span> |
     <a href="{{entry|entry_permalink}}" class="readmore">阅读全文({{entry.view_count}})</a> |
     <a href="{{entry|entry_permalink}}" class="cmt">评论 <span class="count">({{entry.comment_count}})</span></a>
     {%if blog_owner %}
       |<a href="manage/blogs/{{entry.id}}/edit">编辑</a>
     {%endif%}
  </div>
</li>
{% endfor %}
<div class="postsBottom"></div>
</ul>
<div class="pageNavi">{{ entries | will_paginate }}</div>