<div class="box">
  <div class="title2"><p>最新参与者</p></div>
  <div class="height20"></div>
  <div class="message">
    <% for user_vote in @user_voters %>
    <a href="<%= user_vote.user.space_url %>"><img src="<%= user_icon(user_vote.user.id) %>"></a>
    <dl>
      <dt>
        <a href="<%= user_vote.user.space_url %>"><%= user_vote.user.user_name %></a>
        <span><%= DateUtil.timelong_for_with_ling(user_vote.created_at) %></span>
      </dt>
    </dl>
    <div class="height12"></div>
    <%end%>
  </div>
  <div class="height12"></div>
  <div class="height20"></div>
</div>