<div class="box">
  <div class="title1"><p>我的形象</p><img src="/images/customer_word/more1.gif" alt="更多"></div>
  <div class="height20"></div>
<div class="myphoto">
  <img src="<%=user_icon(current_blog_user.id, 'normal')%>" alt="我的形象">
  <p><%=current_blog_user.user_name %></p>
</div>
  <div class="tool">
    <ul>
      <% if is_blog_admin? %>
        <li><img src="/images/customer_word/t_03.gif" align="absmiddle"> <a href="/manage/user_profiles">修改头像</a></li>
      <%end%>
      <li><img src="/images/customer_word/t_06.gif" align="absmiddle"> <a href="/profile">个人信息</a></li>
    </ul>
  </div>
  <div class="height12"></div>
  <%  unless action_name == 'profile' %>
    <div class="info">
      <strong>昵称：</strong><%= current_blog_user.user_name %><br>
      <strong>性别：</strong><%= display_blog_admin_sex current_blog_user.user_profile %><br>
      <strong>城市：</strong><%= current_blog_user.user_profile.city if current_blog_user.user_profile %><br>
      <strong>自我介绍：</strong><%= current_blog_user.user_profile.introduction current_blog_user.user_profile  %><br>
    </div>
    <div class="height12"></div>
  <%end%>
</div>