<div class="right2">
  <div class="dbt">
    <p><a href="/manage/photos/new"><img src="/images/new/pictures_32.png" align="absmiddle"></a>上传照片</p>
    <span>
      <img src="/images/new/tb_sczp.gif" align="absmiddle"> <a href="/manage/photos/new"><strong>上传照片</strong></a>
    </span>
  </div>
  <%= render :partial => '/manage/photos/photo_menu' %>
  <div class="w90">
    <div class="height20"></div>
    <div class="photo2b">
      <div class="height20"></div>
      <ul>
        <% for pic in @photos %>
          <li><a href="<%= pic.user.space_url %>/photos/<%= pic.id %>" target="_blank"><img  src="<%= pic.mid_link %>"></a>
            <p><a href="<%= pic.user.space_url %>/photos/<%= pic.id %>"><%= pic.title %></a></p>
          </li>
        <%end%>
      </ul>
    </div>
    <div class="height20"></div>
    <div class="jogger">
      <%= will_paginate @photos,{:prev_label => '上一页', :next_label => '下一页'} %>
    </div>
  </div>
  <div class="height20"></div>
</div>