<div class="right2">
  <div class="dbt">
    <p><a href="/manage/photos/new"><img src="/images/new/pictures_32.png" align="absmiddle"></a>上传照片</p>
    <span>
      <img src="/images/new/tb_sczp.gif" align="absmiddle"> <a href="/manage/photos/new"><strong>上传照片</strong></a>
    </span>
  </div>
  <%= render :partial => '/manage/photos/photo_menu' %>
  <div class="w90">
    <div class="dbt2">
      <strong><% if params[:album_id].blank? %>全部照片<%else%><a href="/manage/photos">全部照片</a><%end%></strong>
      ┊<strong><% if params[:album_id] && params[:album_id]== '0' %>默认专辑<%else%><a href="/manage/photos?album_id=0">默认专辑</a><%end%></strong>
      <%  for album in @albums %>
        ┊<strong><%if params[:album_id] && params[:album_id] == "#{album.id}"%><%= album.title %><%else%><a href="/manage/photos?album_id=<%= album.id %>"><%= album.title %></a><%end%></strong>
      <%end%>
    </div>
    <div class="height20"></div>
    <div class="photo2b">
      <div class="height20"></div>
      <ul>
        <% for pic in @photos %>
          <li><a href="/manage/photos/<%= pic.id %>"><img  src="<%= pic.mid_link %>"></a>
            <p><%= pic.title %></p>
            <a href="/manage/photos/<%= pic.id %>/edit">编辑</a> <a href="/manage/photos/<%= pic.id %>" onclick="if (confirm('你确定要删除这个图片？')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);f.submit(); };return false;">删除</a><br>
          </li>
        <%end%>
      </ul>
    </div>
    <div class="height20"></div>
    <div class="jogger">
      <%= will_paginate @photos,{:prev_label => '上一页', :next_label => '下一页'} %>
    </div>
  </div>
  <div class="height20"></div>
</div>