<div class="m_l L">
  <div class="face L">
    <img class="border" src="/images/pic_big_none.gif"/>
    <!--ul>
      <li>日志数：20</li>
      <li>评论数：15</li>
      <li>访问量：50</li>
      <li>总积分：20</li>
    </ul-->

  </div>
  <!--div class="visitor">
    <div class="tit border"><h6>最近访客</h6></div>
    <div class="v_m">
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">xiao-fox</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">pawa</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">qing qing cao</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="tit border"><h6>未读评论<span style="color:#999;">（3）</span></h6></div>
    <div class="comment_m">
      <p><a href=""><b>allein：</b></a><a href="">休假的时间得好好珍惜</a></p>
      <p><a href=""><b>wangjing:</b></a><a href="">很久没有休假了吧</a></p>
      <p><a href=""><b>manage:</b></a><a href="">出趟海吧，打一网渔！</a></p>
    </div>
  </div-->
</div><!--m_l-->

<div class="m_r">

  <!--person_menu-->
  <%=  render :partial => "/manage/photos/photo_menu" %>
  <!--person_menu-->
  <div class="m">
    <h3>博客相册</h3>

    <div style="width: 100%;">
      <%for photo in @photos do %>
      <div class="picture_thumb">
        <div>
          <span class="thumb_box">
            <a href="/manage/photos/<%= photo.id %>"><img  src="<%= photo.mid_link %>"></a>
          </span>
        </div>
        <div class="thumb_action">
           <p><%= photo.title %></p>
           <p><a href="/manage/photos/<%= photo.id %>/edit">编辑</a> <a href="/manage/photos/<%= photo.id %>" onclick="if (confirm('你确定要删除这个图片？')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);f.submit(); };return false;">删除</a></p>
        </div>
      </div>
      <%end%>
    </div>
    <div></div>
  </div>
</div><!--m_r-->
