<%=  render :partial => "/manage/share/left" %>

<div class="m_r">
  <!--person_menu-->
  <%=  render :partial => "/manage/photos/photo_menu"%>
  <!--person_menu-->
  <div class="blog_write_m L">
    <h3><a href="/album">博客相册</a> → <%= @photo.title %></h3>
    <div style="width: 100%;" class="clearfix">
      <% if @per_photo %>
      <div class="picture_thumb">
        <div>
         <span class="thumb_box">
          <a href="/manage/photos/<%= @per_photo.id %>"><img  src="<%= @per_photo.mid_link %>"></a>
        </span>
        </div>
        <ul>
          <li><%= @per_photo.title %></li>
          <li><a href="/manage/photos/<%= @per_photo.id %>">上一张</a></li>
        </ul>
      </div>
      <%end%>
      <% if @next_photo %>
      <div class="picture_thumb">
        <div>
         <span class="thumb_box">
          <a href="/manage/photos/<%= @next_photo.id %>"><img  src="<%= @next_photo.mid_link %>"></a>
        </span>
        </div>
        <ul>
          <li><%= @next_photo.title %></li>
          <li><a href="/manage/photos/<%= @next_photo.id %>">下一张</a></li>
        </ul>
      </div>
      <%end%>
    </div>
    <div class="picture_full">
      <img class="magplus" title="点击查看原始大小图片" src="<%= @photo.orignal_link %>" width="700" height="525">
      <ul>
        <li><strong>图片描述</strong></li>
        <li><%= @photo.description %></li>
      </ul>
    </div>
  </div>
</div><!--m_r-->
