<div class="right2">
  <%= render :partial => "/manage/friends/friends_menu" %>
  <div class="w90">
    <div class="height20"></div>
    <div class="list">
      <ul>
        <% for footsetp in  @footsteps %>
          <li><p><a href="<%= footsetp.user.space_url %>" target="_blank"><strong><%= footsetp.user.real_name %></strong></a> <%= footsetp.content %></p>
            <span>[<%= DateUtil.timelong_for_with_ling(footsetp.created_at) %>]</span>
          </li>
        <%end%>
      </ul>
    </div>
    <div class="height20"></div>
    <div class="jogger">
      <%= will_paginate @footsteps, {:prev_label => '上一页', :next_label => '下一页'} %>
    </div>
  </div>
</div>