    <script>set_current_channel('authorize')</script>
    <form id="posts-filter" action="" method="get">
    <h2>用户管理</h2>

    <ul class="subsubsub">
      <li><a href='/admin/roles'>角色管理</a> | </li>
      <li><a href='/admin/groups'>用户组管理</a>|</li>
      <li><a href="/admin/users" class="current">用户管理</a></li>
    </ul>


    <p id="post-search">
      <input type="text" id="post-search-input" name="s" value="" />
      <input type="submit" value="Search Users" class="button" />
    </p>

    <div class="tablenav">

    <div class="alignleft">
    
    <select name='cat' id='cat' class='postform' >
      <option value='0'>Valid</option>
      <option value="1">Invalid</option>
    </select>
    <input type="submit" id="post-query-submit" value="Filter" class="button-secondary" />
    <font color='read'>
      <%= flash[:notice] %>
    </font>
    </div>

    <br class="clear" />
    </div>

    <br class="clear" />

    <table class="widefat">
      <thead>
      <tr>

      <th scope="col" class="check-column"><input type="checkbox" onclick="checkAll(document.getElementById('posts-filter'));" /></th>
      <th scope="col">User Name</th>
      <th scope="col">Status</th>
      <th scope="col">Email</th>

      </tr>
      </thead>
      <tbody>
        <% for user in @users %>
        <tr id='post-1' class='alternate author-self status-publish' valign="top">
          <th scope="row" class="check-column"><input type="checkbox" name="delete[]" value="1" /></th>
          <td><strong>
            <a class="row-title" href="/admin/users/<%=user.id%>/edit" ><%= user.user_name %>
              </a></strong>
          </td>
          <td class="num">
            <div class="post-com-count-wrapper">
            <a href='/admin/users/<%= user.id %>/edit' title='0 pending' class='post-com-count'><span class='comment-count'>
             <%= display_user_status(user) %> 
            </span></a>
            </div>
          </td>
          <td><%= user.email %></td>
        </tr>
        <%  end %>
        
      </tbody>
    </table>

    </form>

    <div id="ajax-response"></div>

    <div class="tablenav">
        <%= will_paginate @users %>
    </div>

    <br class="clear" />
