<div class="center">
  <div class="height20"></div>
  <%= render :partial => "/manage/share/my_info" %>
  <div class="height20"></div>
  <div class="w90">
    <div class="title1"><p><img src="/images/new/xjt.jpg" align="absmiddle"> 最新动态</p></div>
    <div class="height20"></div>
    <table width="475" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr>
          <td width="79" align="right"><a href="/manage/blogs" class="cblack">发表日志</a>:&nbsp;</td>
          <td class="gray" width="79">&nbsp;<a href="/manage/blogs"><%= current_user.blogs.count %></a>篇</td>
          <td width="79" align="right"><a href="/manage/messages" class="cblack">发布公告</a>:&nbsp;</td>
          <td class="gray" width="79">&nbsp;<a href="/manage/messages"><%= current_user.messages.count %></a>条</td>
          <td width="79" align="right"><a href="/manage/votes" class="cblack">参与投票</a>:&nbsp;</td>
          <td class="gray" width="80">&nbsp;<a href="/manage/votes" class="cblack"><%= current_user.user_votes.count %></a>条</td>
        </tr>
        <tr>
          <td width="79" align="right"><a href="/manage/gifts/receive" class="cblack">收到的礼物</a>:&nbsp;</td>
          <td class="gray" width="79">&nbsp;<a href="/manage/gifts/receive"><%= current_user.receive_gifts.count %></a>件(<a href="/manage/gifts/receive?new=1" class="cred"><%= @new_gifts_count %>件新</a>)</td>
          <td width="79" align="right"><a href="/manage/regards/receive" class="cblack">好友的问候</a>:&nbsp;</td>
          <td class="gray" width="79">&nbsp;<a href="/manage/regards/receive"><%= current_user.receive_regards.count %></a>句(<a href="/manage/regards/receive?new=1" class="cred"><%= @new_regards_count %>句新</a>)</td>
          <td width="79" align="right">&nbsp;</td>
          <td class="gray" width="80">&nbsp;</td>
        </tr>
    </tbody>
   </table>
  </div>
  <div class="height20"></div>

  <div class="w90">
    <div class="title1"><p><img src="/images/new/xjt.jpg" align="absmiddle"> 好友动态</p>
     <span><% unless @footsteps.blank? %><a href="/manage/friends/footsteps">查看全部</a><%end%></span>
    </div>
    <div class="height20"></div>
    <div class="list">
      <ul>
        <% for footsetp in  @footsteps %>
          <li><p><a href="<%= footsetp.user.space_url %>" target="_blank"><strong><%= footsetp.user.real_name %></strong></a> <%= footsetp.content %></p>
            <span>[<%= DateUtil.timelong_for_with_ling(footsetp.created_at) %>]</span>
          </li>
        <%end%>
        <%  unless @photos.blank? %>
          <li>
            <p>好友最新照片<br>
              <% for photo in @photos %>
                <a href="<%= photo.user.space_url %>/photos/<%= photo.id %>"><img  src="<%= photo.thumbnail_link %>"></a>
              <%end%>
            </p>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
  <div class="height20"></div>
  <div class="w90">
    <div class="title1"><p><img src="/images/new/xjt.jpg" align="absmiddle"> 相册</p><span><a href="/manage/photos/new">上传照片</a></span></div>
    <div class="height20"></div>
    <div class="photo2b">
      <ul>
        <%for pic in @my_photos%>
          <li>
            <a href="<%= pic.user.space_url %>/photos/<%= pic.id %>" target="_blank"><img src="<%= pic.mid_link %>"></a>
            <p><a href="<%= pic.user.space_url %>/photos/<%= pic.id %>"><%= pic.title %></a></p>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
  <div class="height20"></div>
  <div class="w90">

    <div class="title1"><p><img src="/images/new/xjt.jpg" align="absmiddle"> 日志</p><span><a href="/manage/blogs/new">新写日志</a></span></div>
    <div class="height20"></div>
    <% for blog in @blogs %>
      <div class="blog">
        <dl>
          <dt><a href="/entry/<%= blog.id %>"><%= h blog.title %></a></dt>
          <dd>发表于<strong><%= DateUtil.timelong_for_with_ling(blog.created_at) %></strong> | 阅读(<a href="/entry/<%= blog.id %>"><%= blog.view_count %></a>) | 评论(<a href="/entry/<%= blog.id %>"><%= blog.comment_count %></a>) | 收藏(<a href="#">1</a>) </dd>
        </dl>
        <p><%= blog.body_for_list %><br>
        <a href="/entry/<%= blog.id %>">查看全文</a> &gt;&gt;</p>
      </div>
      <div class="height12"></div>
    <%end%>
  </div>
  <div class="height20"></div>
  <div class="w90">
    <div class="title1"><p><img src="/images/new/xjt.jpg" align="absmiddle">收到的礼物</p><span><a href="/manage/gifts/receive">查看全部</a></span></div>
    <div class="height20"></div>
    <div class="lwlw">
      <ul>
        <% for gift_user in @gifts %>
          <% sender = gift_user.user %>
          <li>
            <img src="/images/gifts_imgs/<%= gift_user.gift.icon  %>">
            <p style="overflow: hidden; width: 95px; height: 22px;">好友<a href="<%= sender.space_url %>"><%= sender.real_name %></a>赠送</p>
            <span><%= gift_user.created_at.strftime('%y-%m-%d %H:%M') %></span>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
  <div class="height20"></div> 
  <div class="height20"></div>
</div>
<div class="right">
  <%= render :partial => "/manage/share/visitores" %>
  <%= render :partial => "/manage/share/friends" %>
</div>

