<%=  render :partial => "/manage/share/left" %>
<div class="m_r">
  <div class="person_menu">
    <%=  render :partial => "/manage/share/person_menu"%>
    <div class="shadow"></div>
  </div>
  <div class="user_b L" >
    <div class="user_info">
      <ul class="L">
        <li><a class="red_underline" href="/manage/blogs">发表日志</a> （<%= current_user.blogs.count %>）</li>
        <li><a class="red_underline" href="/manage/messages">发布公告</a>（<%= current_user.messages.count %>）</li>
        <li><a class="red_underline" href="/manage/votes">参与投票</a> （<%= current_user.user_votes.count %>）</li>
        <li><a class="red_underline" href="/manage/gifts/receive">收到的礼物</a>（<%= current_user.receive_regards.count %>）</li>
        <li><a class="red_underline" href="/manage/regards/receive">好友的问候</a> （<%= current_user.receive_gifts.count %>）</li>
      </ul>
    </div>
    <div class="Guestbook clear">
      <div style="width: 90%;">
        <div class="box">
          <div class="height12"></div>
          <div class="height12"></div>
          <div class="left">
            <div class="list">
              <div class="btbt">好友动态</div>
              <ul>
                <!--li><a href="" target="_blank"><strong>龙华剑</strong></a> 2009-01-01 15:09 赠送了一个<img src="index_files/lw10.gif" width="22" height="22">给我，祝贺元旦快。 </li-->
              </ul>
            </div>
          </div>
          <!--div class="right">
            <div class="list">
              <div class="btbt">最新回复</div>
              <ul>
                <li><a href="" target="_blank"><strong>龙华剑</strong></a> 2009-01-01 15:09 赠送了一个<img src="index_files/lw10.gif" width="22" height="22">给我，祝贺元旦快。 </li>
              </ul>
            </div>
          </div-->
          <div class="height12"></div>
          <div class="height12"></div>
        </div>
        <div class="height12"></div>
        <input name="category_id" type="hidden">
      </div>
    </div>
  </div>

  <div class="R">
    <div class="p_search">
      <div class="tit"><h6>查找好友</h6></div>
      <div class="border">
        <form action="/manage/friends/search" method="post">
          <input class="txt" name="query" type="text" value="搜索好友..." size="20" maxlength="20" onclick="if(this.value==this.defaultValue) this.value=''">
          <input class="button" name="button" type="submit" value="搜 索">
        </form>
      </div>
    </div>
    <div class="friend">
      <div class="tit L"><h6 class="L"><font class="L">我的好友(<%= current_user.friends.count %>)</font><font class="R"><a class="red_underline" href="">全部好友</a></font></h6></div>
      <div class="friend_m border">
        <% for user in @friends -%>
          <div class="friend_b L">
            <a href=""><img class="L" src="<%= user_icon(user.id) %>"/></a>
            <p class="L"><a href=""><%= user.user_name %> </a></p>
            <ul class="L">
              <!--li><a href=""><img class="rss" src="/images/ico_message.gif"/></a><a href="">发纸条</a></li>
                  <li><a href=""><img class="rss" src="/images/ico_rss.gif"/></a><a href="">订阅</a></li-->
            </ul>
            <p><font style="font-weight:bold;color:#999;">&times;</font>&nbsp;<%= link_to '删除好友', {:controller => 'manage/friends',:action => 'destroy', :id => user.id}, :method => 'delete', :class => 'grey' %></p>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div><!--m_r-->
