<div class="w90">
  <div class="myinfo">
    <div class="myinfo_left">
      <div class="myphoto"><img src="<%=user_icon(current_user.id, 'normal')%>" alt="我的形象"></div>
      <div class="tool">
        <ul>
          <li><img src="/images/new/t_03.gif" align="absmiddle"> <a href="/manage/user_profiles">修改头像</a></li>
          <li><img src="/images/new/t_06.gif" align="absmiddle"> <a href="/manage/user_profiles">我的人信息</a></li>
          <!--li><img src="/images/new/t_10.gif" align="absmiddle"> <a href="#">给我留言</a></li>
          <li><img src="/images/new/t_12.gif" align="absmiddle"> <a href="#">加为好友</a></li>
          <li><img src="/images/new/t_16.gif" align="absmiddle"> <a href="#">赠我礼物</a></li>
          <li><img src="/images/new/t_18.gif" align="absmiddle"> <a href="#">给我招呼</a></li>-->
        </ul>
      </div>
    </div>
    <div class="myinfo_right">
      <div class="myname"><dl><dt><%=current_user.real_name %></dt><dd><a href="#">设置我的心情</a></dd></dl></div>
      <div class="height12"></div>
      <div class="info">
        <strong>昵称：</strong><%= current_user.real_name %><br>
        <% if profile =  current_user.user_profile %>
          <strong>性别：</strong><%= display_blog_admin_sex profile %><br>
          <strong>城市：</strong><%=profile.city %><br>
          <strong>自我介绍：</strong><%= profile.introduction  %><br>
        <%end%>
        <a href="/manage/user_profiles">查看详细&gt;&gt; </a>
      </div>
    </div>
  </div>
</div>
