<div class="right2">
  <div class="dbt"><p><a href="/manage/gifts/send_for"><img src="/images/new/gift.png" align="absmiddle"></a> 礼物</p><span></span></div>
  <%= render :partial => "/manage/gifts/gift_menu" %>
  <div class="height20"></div>
  <div class="w90">
    <div class="lwlw">
      你共送出了<%= @gift_users.total_entries %>件礼物
      <div class="height20"></div>
      <ul>
        <% for gift_usr in @gift_users %>
          <% sender = gift_usr.friend %>
          <li>
            <img src="/images/gifts_imgs/<%= gift_usr.gift.icon  %>">
            <p style="width: 120px; height: 22px;">赠给
              <a href="<%= sender.space_url %>"><%= sender.real_name %></a>
            </p>
            <span><%= gift_usr.created_at.strftime('%y-%m-%d %H:%M') %></span>
          </li>
        <%end%>
      </ul>
      <div class="height20"></div>
      <div class="jogger">
        <%= will_paginate @gift_users, {:prev_label => '上一页', :next_label => '下一页'} %>
      </div>
    </div>
    <div class="height20"></div>
  </div>
  <div class="height20"></div>
</div>
