<%=  render :partial => "/manage/share/left" %>
<div class="m_r">
  <!--person_menu-->
  <%=  render :partial => "/manage/gifts/gift_menu" %>
  <!--person_menu-->
<div style="width:100%;">
<div class="title1">我送出的礼物</div>
<div class="box">
<div class="height12"></div>
<div class="list">
<ul>
 <%for gift_user in @gift_user do %>
    <li style="height:75px;">
      我赠送<img src="/images/gifts_imgs/<%= gift_user.gift.icon  %>">给<a href="<%= gift_user.friend.space_url %>" target="_blank"><strong><%= gift_user.friend.user_name %></strong></a> <%= gift_user.created_at.strftime('%y-%m-%d %H:%M') %>，<%= gift_user.post %>。
    </li>
 <% end %>
</ul>
</div>
<div class="height12"></div>
</div>
</div>
</div><!--m_r-->
