    <script>set_current_channel('ccmw')</script>
    <% form_tag('/admin/tags/destroy', :id => 'posts-filter' ) do %>
    <h2>Manage Tags (<%= link_to 'add new', :controller => 'tags', :action => 'new' %>)</h2>

    <ul class="subsubsub">
      <%= tag_categories_links @category %>
    </ul>


    <p id="post-search">
      <input type="text" id="post-search-input" name="s" value="" />
      <input type="submit" value="Search tags" class="button" />
    </p>

    <div class="tablenav">

    <div class="alignleft">
    <input type="button" value="Delete" name="deleteit" class="button-secondary delete" onclick="$('posts-filter').action='/admin/tags/destroy';$('posts-filter').submit();" />

    <select name='category' id='category' class='postform' >
      <option value=""></option>
      <%= options_for_select tag_categories, @category %>
    </select>
    <input type="button" id="post-query-submit" value="Filter" class="button-secondary"  onclick="$('posts-filter').action='/admin/tags';$('posts-filter').submit();"/>

    </div>

    <br class="clear" />
    </div>

    <br class="clear" />

    <table class="widefat">
      <thead>
      <tr>

      <th scope="col" class="check-column"><input type="checkbox" onclick="checkAll(document.getElementById('posts-filter'));" /></th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>

      </tr>
      </thead>
      <tbody>
        <% for tag in @tags -%>
        <tr id='post-1' class='alternate author-self status-publish' valign="top">
          <th scope="row" class="check-column"><input type="checkbox" name="id[]" value="<%= tag.id %>" /></th>
          <td><strong><%= link_to tag.name, {:controller => 'admin/tags', :action => 'edit', :id => tag.id}, {:class =>'tow=title'} %></strong></td>
          <td><a href='?category=<%= tag.category %>'><%= tag.category %></a></td>
        </tr>
        <% end -%>
      </tbody>
    </table>

    <% end  %>

    <div id="ajax-response"></div>

    <div class="tablenav">
      <%= will_paginate @tags, :params => {:category => @category} %>
    </div>

    <br class="clear" />
