<%=  render :partial => "/manage/share/left" %>
<div class="m_r">
  <!--person_menu-->
  <%=  render :partial => "/manage/regards/regard_menu" %>
  <!--person_menu-->
  <div style="width: 100%;">
    <div class="title1">好友的问候</div>
    <div class="box">
      <div class="height12"></div>
      <div class="list">
        <ul>
          <%for regard_user in @user_reagrds do %>
            <li style="height:40px;">
              <a href="<%= regard_user.friend.space_url %>" target="_blank"><strong><%= regard_user.friend.user_name %></strong></a> <%= regard_user.created_at.strftime('%y-%m-%d %H:%M') %><img src="/images/regard_imgs/<%=  regard_user.regard.icon %>">我，<%= regard_user.post %>。
            </li>
          <%  end %>
        </ul>
      </div>
    <div class="height12"></div></div>
    <div class="height12"></div>
  </div>
</div><!--m_r-->
