<h2>{{article.title}}</h2>
<h4>{{article.subtitle}}</h4>
<div>{{article.author}}</div>
<div>{{content.body}}</div>
{% if content.not_first? %}
<a href="{{channel.permalink}}/article/{{article.permalink}}/page/{{content.previous_page}}">Previous</a>
{% endif %}
Contents
{% if content.not_last? %}
<a href="{{channel.permalink}}/article/{{article.permalink}}/page/{{content.next_page}}">Next</a>
{% endif %}