<div class="main">
  <div class="left">
    <%= render :partial => "/share/myinfo" %>
    <div class="height12"></div>
    <%= render :partial => "/share/latest_votes" %>
    <div class="height12"></div>
  </div>
  <div class="center">
    <%= render :partial => "/share/my_blogs" %>
    <div class="height12"></div>
    <%= render :partial => "/share/my_photos" %>
    <div class="height12"></div>
  </div>
  <div class="right">
    <%= render :partial => "/share/message_borde" %>
    <div class="height12"></div>
    <%= render :partial => "/share/my_friends" %>
    <div class="height12"></div>
    <%= render :partial => "/share/my_groups" %>
    <div class="height12"></div>
    <%= render :partial => "/share/stat" %>
    <div class="height12"></div>
  </div>
</div>
