<div class="main">
  <div class="left">
    <%=  render :partial => "/share/myinfo" %>
    <div class="height12"></div>
  </div>
  <div class="right2">
    <div class="box2">
      <div class="title2">
        <p>投票列表</p>
        <% if is_blog_admin? %>
        <span><img src="/images/default/tu_tp.gif" align="absmiddle"> <a href="/manage/votes/new"><strong>发起新投票</strong></a></span>
        <%end%>
      </div>
      <div class="height20"></div>
      <div class="height20"></div>
      <div class="blog">
        <% for vote in @votes %>
        <dl>
          <dt><a href="/votes/<%= vote.id %>"><%= vote.title %></a></dt>
          <dd>发起于<strong><%= DateUtil.timelong_for_with_ling(vote.created_at) %></strong> |投票人数(<%= vote.member_count %>)|截止日期<strong><%= DateUtil.timelong_for_with_ling(vote.expire_time) %></strong></dd>
        </dl>
        <%end%>
        <div class="height20"></div>
      </div>
      <div class="height20"></div>
      <div class="scott">
       <%= will_paginate @votes,{:prev_label => "<<上一页",:next_label => '下一页>>'} %>
      </div>
      <div class="height20"></div>
      <div class="height20"></div>
    </div>
  </div>
</div>