<div class="right2">
  <div class="dbt">
    <p><a href="/manage/sidebars"><img src="/images/new/applications_32.png" align="absmiddle"></a> 风格设置</p><span></span>
  </div>
  <%= render :partial => "/manage/themes/setting_menu" %>
  <div class="height20"></div>
  <div class="w90">
    <table width="713" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td valign="top" width="347">
            <div class="title1">
              <p><img src="/images/new/xjt.jpg" align="absmiddle"> <span class="green">可选择的栏目</span></p>
            </div>
            <table class="lanhui" width="100%" bgcolor="#cecccf" border="0" cellpadding="0" cellspacing="1">
              <tbody>
                <tr bgcolor="#f3f3f3">
                  <td width="25%" align="center"><strong>栏目</strong></td>
                  <td width="53%" align="center"><strong>描述</strong></td>
                  <td width="22%" align="center"><strong>操作</strong></td>
                </tr>
                <%for sidebar in @sidebars do %>
                  <% if sidebar.enable? %>
                    <tr class="ouout" onmouseover="this.className='onon'" onmouseout="this.className='ouout'" bgcolor="#ffffff">
                      <td align="center"><%= sidebar.title %></td>
                      <td align="center"><%=  sidebar.description %></td>
                      <td align="center"><a href="/manage/sidebars/<%= sidebar.sidebar_id %>/active">添加</a></td>
                    </tr>
                  <%end%>
                <%end%>
              </tbody>
            </table>
          </td>
          <td width="19"></td>
          <td valign="top" width="347">
            <div class="title1">
              <p><img src="/images/new/xjt.jpg" align="absmiddle"> <span class="red">已激活的栏目</span></p>
            </div>
            <table class="lanhui" width="100%" bgcolor="#cecccf" border="0" cellpadding="0" cellspacing="1">
              <tbody><tr bgcolor="#f3f3f3">
                  <td width="25%" align="center"><strong>栏目</strong></td>
                  <td width="49%" align="center"><strong>描述</strong></td>
                  <td width="26%" align="center"><strong>操作</strong></td>
                </tr>
                <%for sidebar_user in @sidebar_users do %>
                <tr class="ouout" onmouseover="this.className='onon'" onmouseout="this.className='ouout'" bgcolor="#ffffff">
                  <td align="center"><a href="#" onclick="Element.toggle('edit_<%=  sidebar_user.id %>');return false;"><%= sidebar_user.bar_name %></a></td>
                  <td align="center"><%=  sidebar_user.description %></td>
                  <td align="center">
                    <a href="#" title="编辑" onclick="Element.toggle('edit_<%=  sidebar_user.id %>');return false;"><img alt="编辑" src="/images/btn_edit.png"></a>
                    <a title="移除" href="/manage/sidebars/<%= sidebar_user.id %>/remove"><img src="/images/btn_delete.png" title ='移除'></a>
                    <% if @min_bar_index < sidebar_user.bar_index %>
                      <a href="/manage/sidebars/<%= sidebar_user.id %>/higher"><img alt="Icon_digg" src="/images/icon_digg.gif" title="上移"></a>
                    <%end%>
                    <% if @max_bar_index > sidebar_user.bar_index %>
                      <a href="/manage/sidebars/<%= sidebar_user.id %>/lower"><img alt="Icon_bury" src="/images/icon_bury.gif" title="下移"></a>
                    <%end%>
                  </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </td>
        </tr>
    </tbody></table>
  </div>
  <div class="height20"></div>
</div>
