<div class="atomentry">
  <h2 class="title">
    {{ article | entry_permalink }}
  </h2>
  <div class="author">
    Posted by <cite>{{ article.author }}</cite>
    <abbr class="published" title="{{ article.title }}">{{ article.created_at|timelong }}</abbr>
  </div>
  <div class="content">
    {{ article.body }}
  </div>
</div>
<div id='comments'>
{% for comment in comments %}
<div class="atomentry">
  <div class="author">
    Posted by <cite>{{ comment.author }}</cite>
    <abbr class="published" title="{{ comment.title }}">{{ comment.created_at | timelong }}</abbr>
  </div>
  <div class="content">
    {{ comment.body }}
  </div>
</div>
{% endfor %}
</div>
{{ comments | will_paginate }}
<div class="atomentry">  
</div>

<form name="comment_form" id="commentform" action="/articles/{{article.id}}/comments">
  <h2 id="respond">发表留言</h2><span class='author' style='color:red;display:none;' id='erro_info'>评论不成功</span>
{% if if_login %}
{% else%}
  <p>(<span class='author'>(你还没有登陆，可以<a href="/login?forward=/articles/{{article.id}}">登陆</a>后再来评论)</span>)</br>
         <input type="text" name="user[user_name]" class='styled' size=22>
    <label>用户名</label>
  </p>
<p>
         <input type="text" name="user[password]" class='styled' size=22>
    <label>密 码</label>
  </p>
{% endif %}
  <p>
                <input type="text" name="comment[title]" class='styled' size=22>
		<label>标 题(<span class='author'>不能为空</span>)</label>
	</p>
  <p>
      <textarea name="comment[body]" class="styled" rows=10 cols=20>{{comment.body}}</textarea>
      (<span class='author'>至少5个字符</span>)
  </p>
   <input type="hidden" name="comment[blog_id]" value="{{article.id}}">
  <p>
    <input type="button"  value="评论" id="form-submit-button" onclick="submit_comment()"> 
    <img src="/images/spinner.gif" id="comment_loading" style ="display:none" >
  </p>
</form>
