{% for entry in entries %}
<div class="atomentry">
  <h2 class="title">
    {{ entry | entry_permalink }}
  </h2>
  <div class="author">
    Posted by <cite>{{ entry.author }}</cite>
    <abbr class="published" title="{{ entry.title }}">{{ entry.created_at }}</abbr>
  </div>
  <div class="content">
    {{ entry.body }}
  </div>
</div>
{% endfor %}
{{ entries | will_paginate }}