<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Test Blog</title>
    <link href="/stylesheets/default/default.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/calendar/grey/style.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/javascripts/prototype.js" type="text/javascript"></script>
    <script src="/javascripts/effects.js" type="text/javascript"></script>
    <script src="/javascripts/dragdrop.js" type="text/javascript"></script>
    <script src="/javascripts/controls.js" type="text/javascript"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>
    <script src="/javascripts/blog.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="outer-container">
      <div class="inner-container">
        <div class="header">
          <div class="title">
            <h1 class="sitename"><a href="{{home}}">{{blog_name}}</a></h1>
            <div class="slogan">{{announcement}}</div>
          </div>
        </div>
        <div class="path">

        </div>

        <div class="main">
          <div id="content">
            {{ content }}
          </div>

          <div id="sidebar">
            <!-- search -->
             {{sidebar_content }}
            <!-- sidebar components -->
          </div>
          <br style="clear:both;" />
        </div>
        <div id="footer">
          <div class="left">blog name blog base url</div>
          <div class="right">
            <a>test1</a>
            <a>test2</a>
            <a>test3</a>
            <a>test4</a>
          </div>
          <div class="clearer"></div>
        </div>
      </div>
    </div>
  </body>
</html>
