<div class="right2">
  <%= render :partial => "/manage/user_groups/group_menu" %>
  <div class="height20"></div>
  <div class="w90">
    <div class="height20"></div>
      <table class="lanhui" width="100%" bgcolor="#cecccf" border="0" cellpadding="0" cellspacing="1">
        <tbody>

        <tr bgcolor="#f3f3f3">
          <td width="373" align="center"><b>&nbsp;主题</b></td>
          <td  width="102" align="center"><p>作者</p>
          <p><font style="color:#666">回复数</font></p></td>
          <td  width="102" align="center"><p>最后发言</p>
            <p><font style="color:#666">发言时间</font></p>
          </td>
        </tr>
        <% for topic in @topics do  %>
            <tr class="ouout" onmouseover="this.className='onon'" onmouseout="this.className='ouout'" bgcolor="#ffffff">
              <td align="center">&nbsp;<a href="/manage/topics/<%=topic.id%>"><%= topic.title %></a></td>
              <td align="center"><p><a href=""><%= topic.user.real_name %></a></p>
              <p><%= topic.comment_count %></p></td>
              <td align="center">
                <% if topic.comment_count > 0 %>
                  <% last_comment = topic.last_comment %>
                  <p><a href=""  target="_blank"><%= ( last_comment.user.real_name) %></a></p>
                  <p><%= last_comment.created_at.strftime("%m-%d %H:%M") %></p>
                <%else%>
                  <p>无</p>
                <%end%>
              </td>
            </tr>
          <%end%>
          </tbody>
        </table>
    <div class="jogger">
      <%= will_paginate @topics, {:prev_label => '上一页', :next_label => '下一页'} %>
    </div>
    <div class="height20"></div>
  </div>
  <div class="clear"></div>
</div>